<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            RESPONSIBLE<span> GAMING</span>
                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h2>Responsible Gaming at Fanager</h2>

                            <p>It is central to our philosophy at Fantasy Sports Ltd to place our customers and our social responsibilities at the heart of our business.</p>

                            <p>We are committed to providing a secure, fair and socially responsible service in order that you, the customer, enjoy our games, are entertained and have fun, safe in the knowledge that we supply you with the highest quality gaming experience delivered with integrity, fairness and reliability.</p>

                            <p>The majority of users of gaming sites enjoy playing in moderation as a means of entertainment. However, we recognise that reasonable behaviour patterns with regard to such activities as shopping, alcohol consumption, games of chance and gambling, can, in certain circumstances, escalate for some people and become a problem. In the same way, over-participation in otherwise safe gaming activities can also become problematic for a small proportion of customers.</p>

                            <p>In order to promote responsible gambling, and to ensure that our customers are fully aware of how we can help to minimise the negative social and financial effects of problem gambling to ensure that children and the vulnerable in society are protected from being harmed or exploited by gambling, we ensure that all our staff receive problem gambling awareness training, and all our customer facing staff and management are certified by GamCare as having completed formal training.</p>

                            <p>We provide the following information for our customers:</p>

                            <p>1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Self-help and awareness information</p>

                            <p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Self-exclusion procedure</p>

                            <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Links to GamCare and other organisations who can provide help and&nbsp;advice on problem gambling</p>

                            <p>4. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Customer Driven Account Deposit Limits</p>

                            <p>5. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time Limits and Reality Checks</p>

                            <p>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time Out Period</p>

                            <p>7. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Information, systems and tools to protect underage access to gambling on our site</p>

                            <h2>Do you have a problem with gambling?</h2>

                            <p>If you think that gambling may be having a negative impact upon yours or someone else's life, then please consider the following questions which may help you find out:</p>

                            <p>1. Does gambling ever affect your attendance at work or education?</p>

                            <p>2. Do you gamble to pass the time or alleviate boredom?</p>

                            <p>3. Do you gamble alone for long periods of time?</p>

                            <p>4. Have others ever shown concern or spoken to you about your level of gambling?</p>

                            <p>5. Are you having arguments with family or friends about your level of gambling?</p>

                            <p>6. Have you ever lied about the amount of money you have spent on gambling?</p>

                            <p>7. Are you always thinking or talking about gambling?</p>

                            <p>8. Do you gamble until all your money has gone?</p>

                            <p>9. Have you ever borrowed money or missed paying bills in order to gamble?</p>

                            <p>10. Do arguments, frustrations or disappointments make you want to gamble?</p>

                            <p>11. Do you feel anxious, worried, depressed or irritable about your level of gambling?</p>

                            <p>12. Are you reluctant to spend your "gambling money" on anything else?</p>

                            <p>If you feel that any of the above questions apply to you, we recommend that you consult our self-exclusion guide below and consider seeking professional help. We have also provided details below of organisations that specialise in helping with problem gambling.</p>

                            <h2>How to Self-Exclude from our site:</h2>

                            <p>1. <a href="mailto:Support@fanager.com">Email</a> our customer service operators.</p>

                            <p>2. Inform our customer service advisor that you wish to self-exclude from our site.</p>

                            <p>3.&nbsp; In addition to the above options, you can also Self-Exclude via the “My Account” menu on our site and click the “Self-Exclude” button.</p>

                            <p>4. Our customer service advisor will advise that you must self-exclude for a minimum of six months and can choose to self-exclude for up to five years.</p>

                            <p>5. We will arrange to close your account with Fantasy Sports Ltd and refund your balance to the same card that you used to deposit into your account (less any chargebacks or currently disputed payments, which if or when cleared will also be refunded to your account) within 5-7 working days.</p>

                            <p>6. Our customer service advisor will suggest that you contact all other gambling related platforms and self-exclude from those as well. Software is also available on the Internet that enables to you block your access to gambling websites.</p>

                            <p>7. We undertake not to send you any personally targeted marketing information on our site during your period of self-exclusion. Please note that, during your period of self-exclusion, you may still receive general marketing information that is not specifically targeted at you, but has been targeted, for example, on a geographic or demographic basis.</p>

                            <p>8. Our customer service advisor will inform you that, following your period of self-exclusion, if you wish to register with our site, you must email our customer service advisors and request to register with our site. You will be informed that a 24 hour "cooling off" period will commence, and you will have to email our customer service advisor at the end of the 24-hour period and confirm that you still wish to register with our site.</p>

                            <p>To speak to organisations who can offer help and support please consider contacting:</p>

                            <p>1. GamCare, the leading UK authority providing counselling, advice and practical help in addressing the social impact of gambling in the UK. Please visit GamCare at&nbsp;<a href="http://www.gamcare.org.uk/" target="_blank">www.gamcare.org.uk</a>&nbsp;where you can talk live to a trained advisor via their NetLine service or you can call the confidential helpline on Freephone&nbsp;<a href="tel:08088020133">0808 8020 133.</a></p>

                            <p>2. Gamblers Anonymous is a fellowship of men and women who have joined together to do something about their own gambling problem and help other compulsive gamblers do the same. There are regional fellowships around the world. Please visit the Gamblers Anonymous site in the UK at:&nbsp;<a href="http://www.gamblersanonymous.org.uk/" target="_blank">www.gamblersanonymous.org.uk</a>&nbsp;where you can speak to a trained volunteer.</p>

                            <p>3. Gambling Therapy provides support and counselling for anyone adversely affected by gambling. Gambling Therapy operates from a number of locations within the UK. Please visit Gambling Therapy at:&nbsp;<a href="http://www.gamblingtherapy.org" target="_blank">www.gamblingtherapy.org</a>&nbsp;where you can receive live advice and access group therapy amongst other forms of support and advice.</p>

                            <h2>Customer Driven Account Deposit Limits</h2>

                            <p>Fantasy Sports Ltd provides our customers with the ability to set their own deposit limits via the "My Account" section of our site. &nbsp;Limit durations can be set to 24 Hrs, 7 Days or 1 Month.&nbsp; Customers can increase or decrease their deposit limit at any time; however, any increase will only take effect on the customer's account after 24 hours. Fantasy Sports Ltd considers that offering customer driven deposit limits helps to ensure that our customers enjoy using our services in a safe and responsible way.</p>

                            <h2>Reality Checks</h2>

                            <p>Fantasy Sports Ltd believe it is important to assist our customers, should they wish to keep track of the time they spend playing our Game.&nbsp; Therefore, we offer customers the option to set reality checks (display of time elapsed since the session began).&nbsp;&nbsp;</p>

                            <p>Simply click on ‘My Account’ and select the ‘Time on Site’ option. Then once you have been logged into the website for a period of 1 hour a system message will appear informing you of the amount of time you have been playing for.&nbsp; You will then have the option to continue playing or to stop. If you choose to stop playing, your account will be suspended for the remainder of the day.</p>

                            <h2>Time Out Period</h2>

                            <p>If you would like to take a break from gaming activity, a ‘Time Out’ period can be requested by <a href="mailto:Support@fanager.com">emailing</a> the customer service operators.</p>

                            <p>You can request a Time Out for any time period from 24 hours up to 6 weeks. &nbsp;&nbsp;During this period all online accounts that you hold with us will be closed.</p>

                            <p>The Time Out period is set and controlled by you, so if you want to re-open your account at any point you can do so by contacting the customer service operators.&nbsp;</p>

                            <p>While the Time Out is in place, we will try to ensure we do not send you any marketing material.&nbsp; Please be aware that following the end of a Time Out period, previous marketing preferences will be re-established.&nbsp; These marketing preferences can be changed via our customer service operators.</p>

                            <p>If you think you have a gambling problem, then you should also consider&nbsp;Self-Exclusion.</p>

                            <h2>Underage Gambling</h2>

                            <p>It is illegal for anyone under the age of eighteen to attempt to open an account or attempt to gamble with Fantasy Sports Ltd. We take our responsibilities as a licensed provider of pool betting on fantasy sports very seriously. We undertake age verification procedures to ensure as far as possible that no person under the age of eighteen can gamble on our site. In addition, verification checks are made on all customers when they deposit into their account. &nbsp;&nbsp;If you are found to be under the age of eighteen you will forfeit any winnings you may otherwise have been entitled to, we will close your account and you may be reported to the police and other relevant authorities.</p>

                            <h2>Website Filtering</h2>

                            <p>Fantasy Sports strongly encourage our customers to consider software solutions which prevent persons under the age of eighteen from accessing gambling websites. There are a number of website solutions which allow parents to regulate and limit access to the internet both by site name and time. We encourage parents and guardians to use filters to prevent minors from accessing, amongst other things, gambling websites.</p>

                            <p>If you share your computer with friends or family who are under the legal age to register or pool bet on our site, please consider filtering solutions such as:</p>

                            <p>Net Nanny™&nbsp;&nbsp;&nbsp; <a href="http://www.netnanny.com/" target="_blank">www.netnanny.com</a></p>

                            <p>CyberPatrol&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.cyberpatrol.com/" target="_blank">www.cyberpatrol.com</a></p>

                            <p>Cybersitter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.cybersitter.com">www.cybersitter.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>