<div class="col-xs-12">

    <team-players [open]="false"></team-players>

</div>

<div class="contest-details col-xs-12 no-margin-top"
     style="overflow: hidden;">

    <leaderboard style="float:left; width:50%; height: 50%;" class="leaderboard-wrapper"></leaderboard>

    <div class="components" style="float:right; width:50%">

        <ff-component-wrapper custom-class="small-margin" title="Joseph.Ochigbo" is-open="false" class="ng-isolate-scope"><!-- ngIf: vmW.mobile === true -->
            <!-- ngIf: vmW.mobile === false -->
            <div class="ng-scope" ng-if="vmW.mobile === false">
                <ng-transclude>
                    <!-- ngIf: vm.contest.contest.typeId === '1' -->
                                                   <span ng-if="vm.contest.contest.typeId === '1'" class="ng-scope">
        <ff-player-overlay player="vm.modalPlayer" show="vm.show" class="ng-isolate-scope">
            <div class="overlay" ng-class="{'active' : vmO.show}">
                <div class="overlay-content">
                    <div class="player-details">
                        <div class="header">
                            <img ng-src="../assets/img/players/.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/general/silhouette.png">
                            <div class="close">
                                <span ng-click="vmO.show = !vmO.show">X</span>
                            </div>
                        </div>
                        <h3 class="ng-binding"> <span class="pull-right ng-binding">0pts</span></h3>
                        <div class="table-responsive">
                            <table class="table fanager-table">
                                <tbody>
                                <tr>
                                    <td>Starting XI</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Substitution</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Minutes played</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Goals</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Saves</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Assists</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Successful Passes</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Key Passes</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Crosses</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Shot on Target</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Tackles Wons</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Penalty Miss</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Penalty Saves</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Clean Sheet</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Yellow cards</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Red cards</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ff-player-overlay>

        <div class="col-xs-12 col-sm-offset-2 col-md-offset-0 team-inspector">
            <h4 class="hidden-xs hidden-sm text-uppercase ng-binding" uib-popover="" popover-trigger="mouseenter" popover-placement="top">
                Joseph.Och
                <span class="pull-right text-center ng-binding" id="contest_points_23538" add-class="">137.76pts</span></h4>
            <ul class="list-unstyled players-selection-list">
                <!-- ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/38533.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/38533.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Rui Patrício</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_38533" class="text-center ng-binding" add-class="">24.2pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/120772.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/120772.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Raphael Guerreiro</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_120772" class="text-center ng-binding" add-class="">26.5pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/44989.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/44989.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Toni Kroos</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_44989" class="text-center ng-binding" add-class="">21.0pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/76650.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/76650.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Antoine Griezmann</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_76650" class="text-center ng-binding" add-class="">41.5pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/58822.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/58822.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Cédric Soares</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_58822" class="text-center ng-binding" add-class="">24.6pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index -->
            </ul>
        </div>
      </span><!-- end ngIf: vm.contest.contest.typeId === '1' -->
                    <!-- ngIf: vm.contest.contest.typeId === '2' -->
                </ng-transclude>
            </div><!-- end ngIf: vmW.mobile === false -->

        </ff-component-wrapper>

        <ff-component-wrapper *ngIf="!state" custom-class="small-margin" title="Live Score" is-open="false" class="ng-isolate-scope"><!-- ngIf: vmW.mobile === true -->
            <!-- ngIf: vmW.mobile === false --><div class="ng-scope" ng-if="vmW.mobile === false">
                <ng-transclude>
                    <ff-match-overlay match="vm.match" show="vm.showMatch" match-stats="vm.leaderboard.matchInfo[vm.match.id]" class="ng-scope ng-isolate-scope">
                        <div class="overlay" ng-class="{'active' : vmM.show}">
                            <div class="overlay-content">
                                <div class="player-details">
                                    <div class="header">
                                        <div class="close">
                                            <span ng-click="vmM.show = !vmM.show">X</span>
                                        </div>
                                    </div>
                                    <div class="table-responisve">
                                        <table class="table match-details-table">
                                            <thead>
                                            <tr>
                                                <th colspan="2" class="ng-binding"></th>
                                                <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                                <th class="text-center">V</th>
                                                <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                                <th colspan="2" class="ng-binding"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- ngRepeat: event in vmM.matchStats | orderBy : 'time' -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ff-match-overlay>

                </ng-transclude>
            </div><!-- end ngIf: vmW.mobile === false -->
        </ff-component-wrapper>

    </div>
</div>