.leaderboard {
    position: absolute;
    width: 450px;
    height: 400px;
    border: solid thin green;
}

.leaderboard-table {
    height: 100% !important;
    width: 100% !important;
}

.header {
    background-color: lightblue;
    height: 50px;
    width: 400px;
}
