<div class="leaderboard">
      <div class="header"></div>
      <ngx-datatable
              class="material leaderboard-table"
              [rows]="rows"
              [columnMode]="'flex'"
              [headerHeight]="0"
              [footerHeight]="50"
              [sortType]="'single'"
              [rowHeight]="55"
              [scrollbarV]="true"
              [limit]="100"
              (page)="onPage($event)">

              <ngx-datatable-column name="Name" [flexGrow]="1">
                  <template let-row="row" let-value="value" ngx-datatable-cell-template>

                      <div class="row font-m">
                          <div class="col-xs-1 default-padding text-left font-xl">
                            <div class="data-block">
                              <i [innerHTML]="row['position']"></i>
                            </div>
                          </div>
                          <div class="col-xs-7 default-padding text-left">
                            <div class="data-block pad-d-h truncate">
                              <b><i>{{value}}</i></b><br>
                            </div>
                          </div>
                          <div class="col-xs-2 default-padding text-right font-bold">
                            <div class="data-block">
                              <div [innerHTML]="row['points']">
                                <span class="game-points">pts</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-2 default-padding text-right">
                            <div class="data-block">
                              <div class="text-color-secondary font-xl">
                                £1.80
                              </div>
                            </div>
                          </div>
                      </div>

                  </template>
              </ngx-datatable-column>
      </ngx-datatable>
      <div class="buttons">
        <button (click)="onDummySelected()">Use Dummy 10K Teams</button>
        <button (click)="onLiveSelected()">Use Live Teams</button>
      </div>
    </div>
