<div class="accSettingsHolder">

    <div class="col-xs-12" *ngIf="showUpdatedToast">
        <div class="alert alert-success" role="alert">
            <strong>User details updated</strong>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <div class="row innerAccSettingsHolder">
                <div class="col-xs-4 hidden-xs hidden-sm" style="padding-left:0px;">
                    <div class="panelAccountSettings">
                        <div class="panel-heading"><h3>ACCOUNT SETTINGS</h3></div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation" class="active"><a (click)="onSelect('', $event)">User Details</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('deposit', $event)">Deposit</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('withdraw', $event)">Withdraw</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('transaction', $event)">Transaction History</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('time_on_site', $event)">Time on site</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('exclude', $event)">Self Exclude</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('limit', $event)">Deposit Limits</a></li>
                                <li role="presentation" class=""><a (click)="onSelect('verification', $event)">Get Verified</a></li>			</ul>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 visible-xs visible-sm p-n">
                    <div class="panelAccountSettings">
                        <div class="panel-heading">
                            <div class="col-xs-9">
                                <h3>ACCOUNT SETTINGS</h3>
                            </div>
                            <div class="col-xs-3">
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-bars fa-fw"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation" class="active"><a href="http://test.fanager.com/userDetails">User Details</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/payments/deposit">Deposit</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/payments/withdraw">Withdraw</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/transactionHistory">Transaction History</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/timeOnSite">Time on site</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/selfExclude">Self Exclude</a></li>
                                        <li role="presentation" class=""><a href="http://test.fanager.com/depositLimit">Deposit Limits</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <router-outlet></router-outlet>


            </div>
        </div>
    </div>
</div>