<div class="panel-sub-header ng-scope">
    <ul class="list-inline">
        <li>
            <h3>£0.00</h3>
        </li>
        <li>
            <h3>{{contest.name}}  -- {{contest.contestType}}</h3>
            <p>{{contest.startDateTime}}</p>
        </li>
    </ul>
</div>