<div class="col-xs-12 col-md-9 panel panel-default">
    <div>
        <div>

            <top-panel [mode]="mode" [edit]="edit" [live]="live" [typeId]="typeId"></top-panel>
            <subheader [contest]="contest"></subheader>

            <div class="panel-body p-n ng-scope">
                <div class="main-column">
                    <div class="main-content-wrapper p-n">
                        <div class="row">

                            <router-outlet></router-outlet>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<betting-slip></betting-slip>
