<div class="col-xs-12 col-md-9 panel panel-default">
    <div>
        <div>
            <!-- Rules component -->
            <ff-rules-overlay *ngIf="onShowRules" rule="vm.contest.contest.typeId" class="ng-scope ng-isolate-scope"><div class="overlay rules-overlay" ng-class="{'active' : vmO.show}" style="">
                <div class="overlay-content" ng-switch="" on="vmO.rule">
                    <div class="rules">
                        <div class="header">
                            <div class="close">
                                <span ng-click="vmO.show = !vmO.show">X</span>
                            </div>
                        </div>
                        <!-- ngSwitchWhen: 1 --><section ng-switch-when="1" class="ng-scope">
                        <h2>Fantasy Five Rules</h2>
                        <br>
                        <p>
                            Create a 5-a-side team using one of the following formations: 1-1-1-2, 1-2-1-1, 1-1-2-1, where a minimum of one Goalkeeper (GK), one Defender (DEF), one Midfielder (MID) and one Forward (FWD) must be selected – The remaining position is referred to as a Flex (FLEX) player, which can be any outfield player i.e. a DEF, MID or FWD.
                        </p>
                        <p>You will not be able to view an opponent’s team until the contest has started.</p>
                        <p>There are no limits as to how many times you can edit a team, so long as the contest hasn't started and still shows within 'Upcoming contests'.</p>
                        <p>There are no budget restrictions nor limit as to how many players you can pick from each team or fixture.</p>
                        <p>Play against other users and monitor your progress on the live leaderboard.</p>
                        <p>Each contest will close to new entries once the league start time has elapsed.</p>
                        <p>Each contest you enter will clearly specify the available fixtures for you to pick your players from.</p>
                        <p>All player positions are determined by Opta.</p>
                    </section><!-- end ngSwitchWhen: -->

                        <!-- ngSwitchWhen: 2 -->

                        <!-- ngSwitchWhen: 3 -->
                        <section>
                            <div class="table-responsive">
                                <table class="table fanager-table">
                                    <thead>
                                    <tr>
                                        <th class="text-left">EVENT</th>
                                        <th class="text-center">GK</th>
                                        <th class="text-center">DEF</th>
                                        <th class="text-center">MID</th>
                                        <th class="text-center">FWD</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">GOAL</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">ASSIT</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">CLEAN SHEET*</td>
                                        <td>12</td>
                                        <td>10</td>
                                        <td>5</td>
                                        <td>0</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">STARTING XI</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">SUB APPEARANCE</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">GOALKEEPER SAVE</td>
                                        <td>2</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">SHOT ON TARGET</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">TACKLE WON</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">PENALTY SAVE**</td>
                                        <td>10</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>

                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">YELLOW CARD</td>
                                        <td>-2</td>
                                        <td>-2</td>
                                        <td>-2</td>
                                        <td>-2</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">RED CARD</td>
                                        <td>-4</td>
                                        <td>-4</td>
                                        <td>-4</td>
                                        <td>-4</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">PENALTY MISS**</td>
                                        <td>-5</td>
                                        <td>-5</td>
                                        <td>-5</td>
                                        <td>-5</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">MINUTES PLAYED (POINTS PER MINUTE)***</td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">KEY PASS****</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">CROSS (OPEN PLAY &amp; SET PLAYS)</td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td class="text-left wrap-normal">PASS (SUCCESSFUL)</td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <div class="col-xs-12 text-center">
                            <a href="../rules/fantasy-5s" target="_self" class="btn btn-success">More Details</a>
                        </div>
                    </div>
                </div>
            </div></ff-rules-overlay>

            <!-- COntest header subheader -->
            <div class="panel-heading with-winnigs ng-scope">
                <ul class="list-unstyled flex flex-justify live-contest">
                    <li class="title">
                        <h2 class="ng-binding">LIVE<span>CONTEST</span> - Fantasy 5</h2>
                    </li>
                    <li class="description">
                        <p style="padding-right: 10px;" *ngIf="typeId == 1" class=""><span>Create the ultimate fantasy 5-a-side team,</span><br><span> no restrictions, lots of points!</span> </p>
                        <p style="padding-right: 10px;" *ngIf="typeId == 2" class="ng-hide"> Pick a player to score the most points in a contest, winner takes all!</p>
                    </li>
                    <li class="winnings ng-hide" *ngIf="slateStatus == 2">
                        <div>Currently <br>Winning</div>
                        <h2 class="ng-binding">£0.00</h2>
                    </li>
                    <li class="show-rule text-right" *ngIf="slateStatus == 1" (click)="showRules()"><strong>Scoring Rules<i class="fa fa-info-circle fa-fw"></i></strong></li>
                </ul>
            </div>

            <div class="panel-sub-header ng-scope">
                <ul class="list-inline">
                    <li>
                        <h3 class="ng-binding">£0.00</h3>
                    </li>
                    <li>
                        <h3 class="ng-binding">£10K FREEROLL - max 20 entries per user</h3>
                        <p class="ng-binding">06 Jul 16 20:00</p>
                    </li>
                </ul>
            </div>

            <!-- slateStatus == 1 -->
            <div class="panel-body p-n ng-scope">
               <div class="main-column">
                   <div class="main-content-wrapper p-n">
                       <div class="row">
                           <div *ngIf="slateStatus == 1"> <!-- if true include '../assets/html/contest/live-contest-components.html' -->

                               <div class="col-xs-12">
                                   <!-- ngIf: vm.contest.contest.typeId === '1' -->
                                   <team-players [typeId]="typeId" [state]="state"></team-players>
                               </div>

                               <div class="contest-details col-xs-12"
                                    style="overflow: hidden;">

                                   <leaderboard style="float:left; width:25%"></leaderboard>

                                   <div class="components" style="float:right; width:75%">

                                       <ff-component-wrapper custom-class="small-margin" title="Joseph.Ochigbo" is-open="false" class="ng-isolate-scope"><!-- ngIf: vmW.mobile === true -->
                                           <!-- ngIf: vmW.mobile === false -->
                                           <div class="ng-scope" ng-if="vmW.mobile === false">
                                               <ng-transclude>
                                                   <!-- ngIf: vm.contest.contest.typeId === '1' -->
                                                   <span ng-if="vm.contest.contest.typeId === '1'" class="ng-scope">
        <ff-player-overlay player="vm.modalPlayer" show="vm.show" class="ng-isolate-scope">
            <div class="overlay" ng-class="{'active' : vmO.show}">
                <div class="overlay-content">
                    <div class="player-details">
                        <div class="header">
                            <img ng-src="../assets/img/players/.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/general/silhouette.png">
                            <div class="close">
                                <span ng-click="vmO.show = !vmO.show">X</span>
                            </div>
                        </div>
                        <h3 class="ng-binding"> <span class="pull-right ng-binding">0pts</span></h3>
                        <div class="table-responsive">
                            <table class="table fanager-table">
                                <tbody>
                                <tr>
                                    <td>Starting XI</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Substitution</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Minutes played</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Goals</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Saves</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Assists</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Successful Passes</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Key Passes</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Crosses</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Shot on Target</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Tackles Wons</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Penalty Miss</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Penalty Saves</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Clean Sheet</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Yellow cards</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                <tr>
                                    <td>Red cards</td>
                                    <td class="text-right ng-binding">0.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </ff-player-overlay>

        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0 team-inspector">
            <h4 class="hidden-xs hidden-sm text-uppercase ng-binding" uib-popover="" popover-trigger="mouseenter" popover-placement="top">
                Joseph.Och
                <span class="pull-right text-center ng-binding" id="contest_points_23538" add-class="">137.76pts</span></h4>
            <ul class="list-unstyled players-selection-list">
                <!-- ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/38533.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/38533.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Rui Patrício</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_38533" class="text-center ng-binding" add-class="">24.2pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/120772.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/120772.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Raphael Guerreiro</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_120772" class="text-center ng-binding" add-class="">26.5pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/44989.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/44989.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Toni Kroos</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_44989" class="text-center ng-binding" add-class="">21.0pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/76650.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/76650.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Antoine Griezmann</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_76650" class="text-center ng-binding" add-class="">41.5pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index --><li class="player-wrapper ng-scope" ng-repeat="player in vm.opponetsEntry.players track by $index">
                <div class="player" ng-click="vm.show = !vm.show; vm.modalPlayer = player;">
                    <div class="col-xs-2 image">
                        <img ng-src="../assets/img/players/58822.jpg" class="img-responsive" alt="player image" onerror="this.src = '../assets/img/general/silhouette.png';" src="../assets/img/players/58822.jpg">
                    </div>
                    <!-- ngIf: player.matchName -->
                    <!-- ngIf: !player.matchName --><div ng-if="!player.matchName" class="col-xs-6 details ng-scope">
                    <p class="ng-binding">Cédric Soares</p>
                </div><!-- end ngIf: !player.matchName -->
                    <div class="col-xs-4">
                        <h2 id="player_points_58822" class="text-center ng-binding" add-class="">24.6pts</h2>
                    </div>
                </div>
            </li><!-- end ngRepeat: player in vm.opponetsEntry.players track by $index -->
            </ul>
        </div>
      </span><!-- end ngIf: vm.contest.contest.typeId === '1' -->
                                                   <!-- ngIf: vm.contest.contest.typeId === '2' -->
                                               </ng-transclude>
                                           </div><!-- end ngIf: vmW.mobile === false -->

                                       </ff-component-wrapper>

                                       <live-games [contest]="contest" [state]="state"></live-games>

                                       <ff-component-wrapper *ngIf="!state" custom-class="small-margin" title="Live Score" is-open="false" class="ng-isolate-scope"><!-- ngIf: vmW.mobile === true -->
                                           <!-- ngIf: vmW.mobile === false --><div class="ng-scope" ng-if="vmW.mobile === false">
                                               <ng-transclude>
                                                   <ff-match-overlay match="vm.match" show="vm.showMatch" match-stats="vm.leaderboard.matchInfo[vm.match.id]" class="ng-scope ng-isolate-scope">
                                                       <div class="overlay" ng-class="{'active' : vmM.show}">
                                                       <div class="overlay-content">
                                                           <div class="player-details">
                                                               <div class="header">
                                                                   <div class="close">
                                                                       <span ng-click="vmM.show = !vmM.show">X</span>
                                                                   </div>
                                                               </div>
                                                               <div class="table-responisve">
                                                                   <table class="table match-details-table">
                                                                       <thead>
                                                                       <tr>
                                                                           <th colspan="2" class="ng-binding"></th>
                                                                           <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                                                           <th class="text-center">V</th>
                                                                           <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                                                           <th colspan="2" class="ng-binding"></th>
                                                                       </tr>
                                                                       </thead>
                                                                       <tbody>
                                                                       <!-- ngRepeat: event in vmM.matchStats | orderBy : 'time' -->
                                                                       </tbody>
                                                                   </table>
                                                               </div>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   </ff-match-overlay>

                                                   <div class="col-xs-12 col-sm-8 col-md-5 col-md-offset-0 col-sm-offset-2 live-score ng-scope">
                                                       <h4 class="text-center hidden-xs hidden-sm">LIVE SCORES</h4>
                                                       <div class="table-responsive" ng-switch="" on="vm.leaderboard.matches.length">
                                                           <!-- ngSwitchWhen: 0 -->
                                                           <!-- ngSwitchDefault: --><table class="table fanager-table table-transparent ng-scope" ng-switch-default="">
                                                           <tbody>
                                                           <!-- ngRepeat: game in vm.leaderboard.matches --><tr ng-repeat="game in vm.leaderboard.matches" ng-click="vm.showMatch = !vm.showMatch; vm.match = game" ng-init="game.teams = (game.name | getTeams)" class="ng-scope">
                                                               <td class="text-right text-uppercase ng-binding">Por</td>
                                                               <td class="text-right"><span id="team_goals_359" add-class="" class="ng-binding">2</span></td>
                                                               <td class="text-center">v</td>
                                                               <td class="text-left"><span id="team_goals_508" add-class="" class="ng-binding">0</span></td>
                                                               <td class="text-left text-uppercase ng-binding">Wal</td>
                                                           </tr><!-- end ngRepeat: game in vm.leaderboard.matches --><tr ng-repeat="game in vm.leaderboard.matches" ng-click="vm.showMatch = !vm.showMatch; vm.match = game" ng-init="game.teams = (game.name | getTeams)" class="ng-scope">
                                                               <td class="text-right text-uppercase ng-binding">Ger</td>
                                                               <td class="text-right"><span id="team_goals_357" add-class="" class="ng-binding">0</span></td>
                                                               <td class="text-center">v</td>
                                                               <td class="text-left"><span id="team_goals_368" add-class="" class="ng-binding">2</span></td>
                                                               <td class="text-left text-uppercase ng-binding">Fra</td>
                                                           </tr><!-- end ngRepeat: game in vm.leaderboard.matches -->
                                                           </tbody>
                                                       </table><!-- end ngSwitchWhen: -->
                                                       </div>
                                                   </div>

                                               </ng-transclude>
                                           </div><!-- end ngIf: vmW.mobile === false -->
                                       </ff-component-wrapper>

                                   </div>
                               </div>

                           </div>

                           <!-- Add Game Edit components Here -->
                           <div>


                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>