<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            ABOUT<span> US</span>
                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h1>Fanager</h1>

                            <p>Fanager&nbsp;marries the best elements of pool betting with fantasy sports into one <em>enthralling</em> package that gives users greater control of their chances. Players can compete for cash and points across multiple sports as they pit their tactical wits against other users worldwide. <em>Gripping games and captivating contests </em>are available for bettors each and every day within the biggest cups, leagues, and tournaments worldwide. Pick your best betting slip without any of the usual fantasy budget restrictions and aim for glory in any one of our contests. The user who bags the most points, wins.</p>

                            <p>We’ve decided to create a clear scoring system, which allows our users to easily keep track of their overall score on any device, whilst watching the sporting action.</p>

                            <p>Watch your score update as you are credited for the criteria you match. Whether it be goals in football, scrums in rugby, or even sacks in American football, there’s a bet for everyone! Experience the highs and lows of the live leaderboard as you eagerly await your results. With our instant updates, a notification goes from that dreaded buzz on your phone that is your boss asking you to work overtime, and turns into a beacon for a free night out!</p>

                            <p>&nbsp;</p>

                            <p>Fanager works closely with OPTA Sports to provide the most accurate live scoring and player data. OPTA Sports are the world’s leading supplier of sports statistics and our users will have access to their&nbsp;vast wealth of information, when picking their fantasy sports teams.</p>

                            <p><strong>Fanager is owned and operated by Fantasy Sports Ltd, who are licensed and regulated by The Gambling Commission under UK licence number 000-035633-R-316743-001.</strong></p>

                            <p><strong>We are based in Livingston, Scotland, with our customer service centre based in Glasgow, Scotland. Fanager is strictly for users over the age of 18+.</strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>