<div class="panel-body">
    <div class="row">

        <div class="main-column col-xs-12">
            <div class="main-content-wrapper">

                <div class="main-content-body">
                    <div class="winnings-label">
                        <h3>CURRENTLY WINNING: £0.00</h3> <h3>GAMES BEING PLAYED: 0</h3>
                    </div>

                    <div class="table-responsive table-block">
                        <table class="fanager-table table" *ngIf="liveContests.length > 0">
                            <thead>
                            <tr>
                                <th class="text-left">Contest</th>
                                <th class="text-center">Game</th>
                                <th class="text-center">Entry Fee</th>
                                <th class="text-center">Entries</th>
                                <th class="text-center">Prizes</th>
                                <th class="text-center">StartTime</th>
                                <th class="text-center">View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center ng-scope" *ngFor="let contest of liveContests">
                                <td class="text-left wrap-normal">{{contest.name}}</td>
                                <td class="text-center">{{contest.contestType}}</td>
                                <td class="text-center">{{contest.entryFee}}</td>
                                <td class="text-center">{{contest.entries.length}}</td>
                                <td class="text-center">{{contest.prizes[0]}}</td>
                                <td class="text-center">{{contest.startDateTime}}</td>
                                <td><button (click)="enterContest(contest)" class="btn btn-success">&gt;</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="alert alert-danger ng-binding" style="margin-top:15px" role="alert" *ngIf="liveContests.length === 0">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        You do not have any current live contests.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>