<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">DEPOSIT</h3></div>
        <div class="panel-body">

            <p>Enter the amount you wish to deposit and click submit.</p>

            <br>

            <form class="form-horizontal" role="form" method="POST" action="http://test.fanager.com/payments/deposit">
                <input type="hidden" name="_token" value="vPDogEZEyaMPN4DDrauuHeM8h9msJMci5PFwf4zN">


                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="Amount (£)" name="amount" value="">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-success pull-right">
                            Submit
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>