<div class="panel-body ng-scope">
    <div class="row">
        <div class="main-column col-xs-12">
            <div class="main-content-wrapper">
                <div class="form-group visible-xs text-center">
                    <ul class="list-inline mode-buttons-mobile">
                        <li><button class="btn btn-filter ng-pristine ng-untouched ng-valid ng-not-empty active" ng-model="vm.mode" ng-change="vm.getContests('upcoming')" uib-btn-radio="'upcoming'">Upcoming</button></li>
                        <li><button class="btn btn-filter ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.mode" ng-change="vm.getContests('live')" uib-btn-radio="'live'">Live</button></li>
                        <li><button class="btn btn-filter ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.mode" ng-change="vm.getContests('history')" uib-btn-radio="'history'">Closed</button></li>
                    </ul>
                    <!-- <select class="form-control" id="sel2" ng-change="vm.getContests(vm.mode)"  ng-model="vm.mode">
                      <option value="live">Live</option>
                      <option value="upcoming">Upcoming</option>
                      <option value="history">History</option>
                    </select> -->
                </div>
                <div class="winnings-label ng-hide" ng-show="vm.mode === 'live'">
                    <h3 class="ng-binding">CURRENTLY WINNING: £0.00</h3> <h3 class="ng-binding">GAMES BEING PLAYED: 0</h3>
                </div>
                <div class="main-content-body p-n" style="margin-top:0px;">
                    <div class="table-responsive table-block">
                        <!-- <table class="table fanager-table fixed-header" fixed-header table-height="530px" ng-show="vm.userContests.length > 0"> -->
                        <table class="table fanager-table ng-hide" ng-show="vm.userContests.length > 0">
                            <thead>
                            <tr>
                                <th class="text-left">Contest</th>
                                <th class="text-center">Game</th>
                                <th class="text-center ng-hide" ng-show="vm.mode === 'live'">Place</th>

                                <th class="text-center" ng-show="vm.mode === 'upcoming'">Stake</th>
                                <!-- <th class="text-center" ng-show="vm.mode === 'upcoming'">Start Time</th> -->

                                <th class="text-center wrap ng-hide" ng-show="vm.mode === 'live'">Points</th>
                                <th class="text-center wrap ng-hide" ng-show="vm.mode === 'live'">winnings</th>



                                <th class="text-center hidden-xs hidden-sm ng-hide" ng-show="vm.mode === 'history'">Points</th>
                                <th class="text-center ng-hide" ng-show="vm.mode === 'history'">winnings<span class="visible-xs visible-sm">Points</span></th>
                                <th class="text-center ng-hide" ng-show="vm.mode === 'history'">Place</th>
                                <th class="text-center hidden-xs hidden-sm" ng-show="vm.mode !== 'live'">Starts</th>
                                <th class="text-center"> View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ngRepeat: contest in vm.userContests -->

                            <tr class="text-center ng-scope" ng-repeat="contest in vm.userContests">
                                <td class="text-left wrap-normal ng-binding" id="contest_79" add-class="">
                                    £10K FREEROLL - max 20 entries per user
                                    <strong class="wrap visible-xs visible-sm ng-binding" ng-show="vm.mode !== 'live'">06/07/16 20:00</strong>
                                </td>
                                <td>
                                    <img style="margin: 0 auto;" popover-placement="top" uib-popover="Fantasy 5" popover-trigger="mouseenter" ng-src="/assets/img/general/1key.png" class="img-responsive" alt="" src="/assets/img/general/1key.png"></td>
                                <td ng-show="vm.mode === 'upcoming'" class="ng-binding ng-hide">£0.00 </td>
                                <!--   <td ng-show="vm.mode !== 'live'"><span class="wrap">{{contest.startDate | dateFormat : 'DD/MM/YY  HH:mm'}} </span></td> -->
                                <td ng-show="vm.mode === 'live'" class="ng-binding ng-hide">1829</td>
                                <td class="hidden-xs hidden-sm ng-binding" ng-show="vm.mode === 'history'">94.64</td>

                                <td class="ng-binding ng-hide" ng-show="vm.mode === 'live'">94.64</td>
                                <td ng-show="vm.mode !== 'upcoming'" class="ng-binding">
                                    £2.00 <br>
                                    <span class="visible-xs visible-sm ng-binding" ng-show="vm.mode === 'history'">94.64pts</span>
                                </td>
                                <td ng-show="vm.mode === 'history'" class="ng-binding">1829</td>
                                <td class="hidden-xs hidden-sm" ng-show="vm.mode !== 'live'"><span class="wrap ng-binding">06/07/16 20:00</span></td>
                                <td><button (click)="selectContest()" class="btn btn-success" ui-sref="app.contest.details({contestId : contest.id})" href="/contest/51">&gt;</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-danger ng-binding" style="margin-top:15px" role="alert" ng-show="vm.userContests.length === 0">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        You do not have any current upcoming contests.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
