<div class="row">
    <div class="col-xs-12" *ngIf="accessBetslip != false">
        <uib-accordion class="visible-xs visible-sm accordion-primary ng-hide" ng-show="vm.showBetSlip"><div role="tablist" class="panel-group" ng-transclude="">
            <div class="panel ng-scope ng-isolate-scope panel-default panel-open" ng-class="panelClass || 'panel-default'" is-open="true">
                <div role="tab" id="accordiongroup-21-6026-tab" aria-selected="true" class="panel-heading" ng-keypress="toggleOpen($event)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="" aria-expanded="true" aria-controls="accordiongroup-21-6026-panel" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span uib-accordion-header="" ng-class="{'text-muted': isDisabled}" class="ng-binding">
        <h4 class="ng-scope">
            BET SLIP
            <i class="fa fa-sort-desc pull-right" aria-hidden="true"></i>
        </h4>
      </span></a>
                    </h4>
                </div>
                <div id="accordiongroup-21-6026-panel" aria-labelledby="accordiongroup-21-6026-tab" aria-hidden="false" role="tabpanel" class="panel-collapse collapse in" uib-collapse="!isOpen" aria-expanded="true" style="height: auto;">
                    <div class="panel-body" ng-transclude="">
                        <uib-accordion-heading class="ng-scope"></uib-accordion-heading>
                        <betslip user="vm.user" panel="false" class="ng-scope ng-isolate-scope"> <div ng-class="vmB.panel ? 'widget-betting-slip' : 'widget-betting-slip-mobile'" class="widget-betting-slip-mobile" style="">
                            <h3 ng-show="vmB.panel" class="ng-hide" style="">
                                BETTING SLIP
                            </h3>
                            <div class="table-responsive" style="max-height: 500px">
                                <table class="table fanager-table" ng-class="{'fanager-table' : !vmB.panel}" style="">
                                    <tbody>
                                    <!-- ngRepeat: bet in vmB.user.betslip -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="total-row">
                                <ul class="list-inline col-xs-12" ng-class="{'col-xs-12' : !vmB.panel}" style="">
                                    <li>
                                        <p class="m-n">Total</p>
                                        <input type="checkbox" name="free_credit" ng-model="vmB.freeCredit" class="ng-pristine ng-untouched ng-valid ng-empty" style=""> Use free credit<br>
                                    </li>
                                    <li class="ng-binding">
                                        £0.00
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 text-center" ng-class="(vmB.panel ? 'widget-footer' : 'col-xs-12 text-center')" style="">
                                <button class="btn btn-success" ng-class="{'btn-block' : vmB.panel}" ng-click="vmB.postBetslip()" ng-disabled="vmB.user.betslip.length === 0" disabled="disabled">PLACE BETS NOW</button>
                            </div>
                        </div></betslip>
                    </div>
                </div>
            </div>
        </div></uib-accordion>
    </div>
    <div class="col-xs-12 col-md-9 panel panel-default">
        <div>
            <div>
                <div class="panel-heading">
                    <ul class="list-unstyled flex flex-justify buttons">
                        <li class="title">
                            <h2>MY<span> CONTESTS</span></h2>
                        </li>
                        <li><button class="btn btn-filter hidden-xs ng-pristine ng-untouched ng-valid ng-not-empty active" ng-model="vm.mode" (click)="onSelect('', $event)" uib-btn-radio="'upcoming'">Open</button></li>
                        <li><button class="btn btn-filter hidden-xs ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.mode" (click)="onSelect('live', $event)" uib-btn-radio="'live'">Live</button></li>
                        <li><button class="btn btn-filter hidden-xs ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.mode" (click)="onSelect('closed', $event)" uib-btn-radio="'history'">Closed</button></li>
                    </ul>
                </div>

                <router-outlet></router-outlet>

            </div>

        </div>


        <div class="col-md-3 hidden-xs hidden-sm">
  <span *ngIf="accessBetslip != false" class="">
    <betslip user="vm.user" panel="true" class="ng-isolate-scope"> <div ng-class="vmB.panel ? 'widget-betting-slip' : 'widget-betting-slip-mobile'" class="widget-betting-slip" style="">
        <h3 ng-show="vmB.panel">
            BETTING SLIP
        </h3>
        <div class="table-responsive" style="max-height: 500px">
            <table class="table" ng-class="{'fanager-table' : !vmB.panel}">
                <tbody>
                <!-- ngRepeat: bet in vmB.user.betslip -->
                </tbody>
            </table>
        </div>
        <div class="total-row">
            <ul class="list-inline" ng-class="{'col-xs-12' : !vmB.panel}">
                <li>
                    <p class="m-n">Total</p>
                    <input type="checkbox" name="free_credit" ng-model="vmB.freeCredit" class="ng-pristine ng-untouched ng-valid ng-empty" style=""> Use free credit<br>
                </li>
                <li class="ng-binding">
                    £0.00
                </li>
            </ul>
        </div>
        <div class="widget-footer" ng-class="(vmB.panel ? 'widget-footer' : 'col-xs-12 text-center')" style="">
            <button class="btn btn-success btn-block" ng-class="{'btn-block' : vmB.panel}" ng-click="vmB.postBetslip()" ng-disabled="vmB.user.betslip.length === 0" disabled="disabled" style="">PLACE BETS NOW</button>
        </div>
    </div></betslip>
  </span>
        <ul class="list-inline banners" *ngIf="accessBetslip != false">
            <!-- <li>
              <div class="banner-wrapper">
                <img ng-src="../assets/img/general/featuredContests.jpg" class="img-responsive" alt="">
              </div>
            </li> -->
            <li [ngClass]="{'no-betslip' : accessBetslip === false}">
                <div class="banner-wrapper">
                    <a href="/how_to_play" target="_self"><img ng-src="../assets/img/general/newToFanager.jpg" class="img-responsive" alt="newToFanager" src="../assets/img/general/newToFanager.jpg"></a>
                </div>
            </li>
            <!-- <li>
              <div class="banner-wrapper">
                <a href="/contests" target="_self"><img ng-src="../assets/img/general/freeroll.jpg" class="img-responsive" alt="freeroll"></a>
              </div>
            </li> -->
        </ul>
    </div>
    </div>

    <!-- Betting Slip -->
    <betting-slip></betting-slip>
</div>
