<div class="navbar nav-footer navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-push-3">
                <ul class="list-unstyled pull-right">
                    <li>
                        <a href="https://twitter.com/FootballFanager" target="_blank"><i class="fa fa-fw fa-3x fa-twitter"></i></a>
                        <a href="https://www.facebook.com/footballfanager" target="_blank"><i class="fa fa-fw fa-3x fa-facebook-official"></i></a>
                    </li>
                    <li>
                        <ul class="list-inline links">
                            <li><a routerLink="about_us" routerLinkActive="active">About Us</a></li>

                            <li><a routerLink="terms_and_conditions" routerLinkActive="active">Terms Of Use</a></li>

                            <li><a routerLink="privacy_policy" routerLinkActive="active">Privacy Policy</a></li>

                            <li><a routerLink="responsible_gaming" routerLinkActive="active">Responsible Gaming</a></li>

                            <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>

                            <li><a routerLink="/rules/game" routerLinkActive="active">Game Rules</a></li>

                            <li><a routerLink="/how_to_play" routerLinkActive="active">How To Play</a></li>

                            <li>
                                <small>
                                    Fanager.com is operated by Fantasy Sports Ltd who are licensed and regulated
                                    <br class="hidden-xs hidden-sm">by the Gambling Commission (licence number: <a target="_blank" href="https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRSearch.aspx?ExternalAccountId=35633">000-035633-R-316743-001</a>)
                                    <br class="hidden-xs hidden-sm">NEED SUPPORT? EMAIL <a href="mailto:SUPPORT@FANAGER.COM">SUPPORT@FANAGER.COM</a>
                                </small>
                            </li>
                        </ul>
                    </li></ul></div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9">
                <div class="logo_footer"></div>
            </div>
        </div>
        <div class="row logos">
            <div class="col-xs-6">
                <ul class="list-inline pull-left">
                    <li><a href="http://www.authipay.com" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/authipay.png" alt=""></a></li>
                    <li><a href="http://www.mastercard.co.uk/" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/mastercard.png" alt=""></a></li>
                    <li><a href="https://www.visa.co.uk/" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/visa.png" alt=""></a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-inline">
                    <li><a href="http://www.gamcare.org.uk" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/problem_gambling.png" alt=""></a></li>
                    <li><a href="https://www.gamblingtherapy.org" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/gambling_therapy.png" alt=""></a></li>
                    <li><a href="http://www.gamblingcommission.gov.uk" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/gambling_commission.png" alt=""></a></li>
                    <li><a href="http://www.optasports.com" target="_blank"><img src="http://test.fanager.com/assets/img/footer_assets/opta.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>