<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            HOW<span> TO </span>PLAY

                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h1><strong>What is Fanager?</strong></h1>

                            <p><strong>Fanager</strong> combines the best elements of pool betting with fantasy sports into one <em>enthralling</em> package that gives users greater control of their chances. Players can compete for cash and points as they tactically jostle with other users worldwide during this summer’s <strong>European Championships in France</strong>.</p>

                            <p>Gripping games and all-consuming contests are available for bettors each and every day throughout the tournament. Pick your best betting slip without any of the usual fantasy football restrictions and aim for all-conquering glory in any one of our contests. The user who records the most points, wins!</p>

                            <p>We’ve decided to create a clear scoring system, which allows our users to easily keep track of their overall score on any device, whilst watching the sporting action. Watch your score update as you are credited for the criteria you match, whether it be goals, crosses or even successful passes! Experience the ups and downs of the live leaderboard as you eagerly await your results. With our immediate updates, a notification goes from that dreaded buzz on your phone that is your boss asking you to work overtime, and turns into a beacon for a free night out!</p>

                            <p>Below we explain our three flagship contests: <strong>Fantasy Fives, Star Turn, and 1 v 1</strong>.</p>

                            <p>We also illustrate to you the <em>engrossing interactivity</em> of our constantly updating leaderboard.</p>

                            <p>&nbsp;</p>

                            <h1><strong>How do I play contests and place bets?</strong></h1>

                            <h2><strong>Fantasy Fives</strong></h2>

                            <p>Our<strong> Fantasy Fives</strong> contest is as quick and easy to do as putting on a bet. Choose your <em>ultimate</em> Euro 2016 5-a-side fantasy team and go up against other players for points and places on the leaderboard! Simply choose the player you believe will gain you the most points to be in with a chance of turning as little as £1 into a whole lot more!</p>

                            <p><img alt="" src="//www.fanager.com/assets/img/content/fantasyfivesscreenshot.png" style="width: 500px; height: 396px;"></p>

                            <p>- Simply select 5 five players: one GK, one DEF, one MID, one FWD, and&nbsp;one FLEX.</p>

                            <p>- FLEX is an additional player that can be any DEF, MID, or FWD.</p>

                            <p>- There are no fantasy budget restrictions or limits as to how many&nbsp;players you can select from one team or fixture.</p>

                            <p>- Your team will then be set up in a formation, either: 1-2-1-1, 1-1-2-1, or&nbsp;1-1-1-2.</p>

                            <p>- You can use the swap option to change your team right up until the first&nbsp;kick-off in your line-up.</p>

                            <p>- There is a filter option to browse players by position, game, and squad.</p>

                            <p>- You will not be able to view an opponent’s team until the contest has&nbsp;started.</p>

                            <p>- Watch on any device and monitor our live leaderboard as your team&nbsp;score points for the criteria they meet e.g. goals, successful passes,&nbsp;saves, etc.</p>

                            <h2><strong>Star Turn</strong></h2>

                            <p>Our <strong>Star Turn</strong> contest is a bet that can last one game or the whole tournament, available from as little as £1. Simply select the player(s) you think will score the most fantasy points over a set period of time and win you some money!</p>

                            <p><img alt="" src="//www.fanager.com/assets/img/content/starturnscreenshot.png" style="width: 500px; height: 393px;"></p>

                            <p>- Select one or more player(s) you think will score you the most fantasy&nbsp;points over a set period of time.</p>

                            <p>- You can select as many players as you like.</p>

                            <p>- From one game, to the group stages, to the whole tournament, the&nbsp;choice is yours.</p>

                            <p>- Watch on any device and monitor our live leaderboard as your player&nbsp;scores points for the criteria they meet e.g. goals, successful passes,&nbsp;saves, etc.</p>

                            <h2><strong>1 v 1</strong></h2>

                            <p>Our<strong> 1 v 1</strong> contest is the perfect <em>instant</em> bet from as little as £1. With pre- determined contests pitting player against player, you select which one you think will score the most fantasy points and win you the bet.</p>

                            <p>[INSERT 1 V 1 DESIGN]</p>

                            <p>- Select a winner from our pre-determined pool betting contests i.e.&nbsp;Pogba v Torje in the opening game, France v Romania.</p>

                            <p>- Or simply two players playing on the same day, not necessarily the same&nbsp;game i.e. Bale v Kane.</p>

                            <p>- Once your bet is placed you cannot swap your choice.</p>

                            <p>- Watch on any device and monitor our live leaderboard as your player&nbsp;scores points for the criteria they meet e.g. goals, successful passes,&nbsp;saves, etc.</p>

                            <p>&nbsp;</p>

                            <h1><strong>Live Leaderboard</strong></h1>

                            <p>The main draw of <strong>Fanager</strong> is that it blends the thrill of betting with the obsessive detail of fantasy sports. This is perfectly illustrated in our live leaderboard.</p>

                            <p><img alt="" src="//www.fanager.com/assets/img/content/liveleaderboardscreenshot.png" style="width: 500px; height: 435px;"></p>

                            <p>If you like to watch fluctuating sliders, vivid graphics and in-depth tables shift, converge and light up. Then this type of <em>engaging and interactive</em> betting is for you.</p>

                            <p>When playing any of our above Euro 2016 games, you can monitor your ever-changing position on the leaderboard as your team/player scores points for nail-biting last minute saves, spectacular goals and crunching tackles.</p>

                            <p>Best of luck and we hope you enjoy the games at <a href="http://www.fanager.com">www.fanager.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>