<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button class="btn bet-slip visible-xs" onclick="showBetslip()">
                BET SLIP
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" href="http://test.fanager.com">
                <img src="http://test.fanager.com/assets/img/logo/header-logo.png" class="img-responsive hidden-sm hidden-xs" alt="">
                <img src="http://test.fanager.com/assets/img/logo/header-logo-no-strap.png" class="img-responsive visible-sm visible-xs" alt="">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <!-- <ul class="nav navbar-nav">
                <li><a href="http://test.fanager.com/home">Home</a></li>
            </ul>-->
            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->


                <!-- <li class="visible-xs visible-sm"><a href="http://test.fanager.com/how_to_play" target="_self">HOW TO PLAY</a></li> -->
                <!--   <li><a href="http://test.fanager.com/contests" target="_self">VIEW CONTESTS</a></li> -->
                <li><a routerLink="contests/mycontests" routerLinkActive="active">MY CONTESTS</a></li>
                <li><a routerLink="account" routerLinkActive="active">MY ACCOUNT</a></li>
                <li><a routerLink="account/payments/deposit" routerLinkActive="active">DEPOSIT</a></li>
                <li><a (click)="logout()">LOGOUT</a></li>


                <li class="balanceVisible visible-xs" style="display:"><a href="#">BALANCE<br><span id="showCredit" class="primary-color">£135.57</span></a></li>
                <li class="balanceVisible visible-xs" style="display:"><a href="#">Free credit<br><span id="showCredit" class="primary-color">£0.00</span></a></li>
                <!-- <li class="balanceVisible visible-xs visible-sm" style="display:"><a href="#"><span class="primary-color pull-right" id="balanceDisplay">£135.57</span></a>
                <a href="javascript:void(0)" id="hideBalance" style="padding-top:0px;"><span class="pull-right">Hide Balance</span></a>
                </li>


                <li class="balanceHidden visible-xs visible-sm" style="display:none"><a href="#">BALANCE<br /><span id="showCredit" class="primary-color" style="display:none;"><br /></span></a></li>
                <li class="balanceHidden  visible-xs visible-sm" style="display:none"><a href="#"><span class="primary-color pull-right" id="balanceDisplay" style="display:none;"><br /></span></a>
                <a href="javascript:void(0)" id="showBalance" style="padding-top:0px;"><span class="pull-right">Show Balance</span></a>
                </li> -->


                <!-- <li><p class="navbar-text">Credit: <strong>0.00</strong></p></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                        <!--<span class="caret"></span>-->
                    <!--</a>-->

                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="http://test.fanager.com/logout"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li>
                    <button class="btn bet-slip visible-sm" onclick="showBetslip()">
                        BET SLIP
                    </button>
                </li>
            </ul>


        </div>
        <div class="balance-section pull-right">

            <ul class="list-inline">

                <li>
                    <p class="secondary-color">Time On Site <span class="primary-color" id="timeOnSite">08:16</span></p>

                </li>

                <li class="balanceVisible" style="display:">
                    <p>Free credit <span class="primary-color">£ 0.00</span></p>
                </li>
                <li class="balanceVisible" style="display:">
                    <p id="hideBalance" style="padding-top:0px;">
                        <span><a href="javascript:void(0)" id="hideBalance"><strong>Hide </strong></a>Balance £ {{balance}}</span>
                    </p>
                </li>

                <li class="balanceHidden" style="display:none">
                    <p><span class="primary-color"></span></p>
                </li>
                <li class="balanceHidden" style="display:none">
                    <p id="hideBalance" style="padding-top:0px;">
                        <span><a href="javascript:void(0)" id="showBalance"><strong>Show Balance</strong></a></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</nav>