<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            GAME<span> RULES</span>
                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h1>Fanager Game Rules</h1>

                            <h2>Fantasy Fives</h2>

                            <ul>
                                <li>Create a 5-a-side team using one of the following formations: 1-1-1-2, 1-2-1-1, 1-1-2-1, where a minimum of one Goalkeeper (GK), one Defender (DEF), one Midfielder (MID) and one Forward (FWD) must be selected – The remaining position is referred to as a Flex (FLEX) player, which is can be any outfield player i.e. a DEF, MID or FWD.</li>
                                <li>You will not be able to view an opponent’s team until the contest has started.</li>
                                <li>There are no limits as to how many times you can edit a team, so long as the contest hasn't started and still shows within upcoming contests.</li>
                                <li>There are no budget restrictions nor limit to how many players you can pick from each team or fixture.</li>
                                <li>Play against other users and monitor your progress on the live leaderboard.</li>
                            </ul>

                            <h2>Star Turn</h2>

                            <ul>
                                <li>Select a player to score more fantasy points than another in one of our contests. Play against other users and monitor your progress on the live leaderboard.</li>
                            </ul>

                            <h2>1 v 1</h2>

                            <ul>
                                <li>Select a player to score the most fantasy points over a set period of time in one of our contests.&nbsp;Play against other users and monitor your progress on the live leaderboard. You may select more than one player in our given contests.</li>
                            </ul>

                            <p>Each contest will close to new entries once the league start time has elapsed.</p>

                            <p>Each contest you enter will clearly specify the available fixtures for you to pick your players.</p>

                            <p>All player positions are determined by Opta.</p>

                            <p>All contests apply the same point scoring rules (below).</p>

                            <p>&nbsp;</p>

                            <h1>Point Scoring Rules</h1>

                            <p>Players will accumulate points as follows:</p>

                            <div class="table-responsive">
                                <table border="1" cellpadding="1" cellspacing="1" class="table" style="width: 500px;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>EVENT</strong></p>
                                        </td>
                                        <td><strong>GK</strong></td>
                                        <td><strong>DEF</strong></td>
                                        <td><strong>MID</strong></td>
                                        <td><strong>FWD</strong></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Goal</p>
                                        </td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Assist</p>
                                        </td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Clean Sheet*</p>
                                        </td>
                                        <td>12</td>
                                        <td>10</td>
                                        <td>5</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Starting XI</p>
                                        </td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Sub Appearance</p>
                                        </td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Goalkeeper Save</p>
                                        </td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Shot On Target</p>
                                        </td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Tackle Won</p>
                                        </td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Penalty Save**</p>
                                        </td>
                                        <td>10</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Yellow Card</p>
                                        </td>
                                        <td>-2</td>
                                        <td>-2</td>
                                        <td>-2</td>
                                        <td>-2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Red Card</p>
                                        </td>
                                        <td>-4</td>
                                        <td>-4</td>
                                        <td>-4</td>
                                        <td>-4</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Penalty Miss**</p>
                                        </td>
                                        <td>-5</td>
                                        <td>-5</td>
                                        <td>-5</td>
                                        <td>-5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Minutes Played (Points Per Minute)***</p>
                                        </td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                        <td>0.04</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Key Pass****</p>
                                        </td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Cross (Open Play &amp; Set Plays, Including Corners)</p>
                                        </td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                        <td>0.5</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Pass (Successful)</p>
                                        </td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                        <td>0.1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div dir="ltr" style="margin-left:0pt;">&nbsp;</div>

                            <div dir="ltr" style="margin-left:0pt;">* A player must play a minimum of 60 minutes to qualify for a clean sheet. If a goal is scored at any time when the player is on the pitch, they do not record a clean sheet. This includes both normal and extra time. Examples below.</div>

                            <h3>Possible Game Scenario 1</h3>

                            <ul>
                                <li> A team concede their first goal after 70 minutes, players on the pitch at the time don’t get clean sheet points.</li>
                                <li> A player plays for 65 minutes and gets substituted. He gets the clean sheet points.</li>
                                <li> A player plays for 73 minutes and gets substituted. He does not get the clean sheet points.</li>
                            </ul>

                            <h3>Possible Game Scenario 2</h3>

                            <ul>
                                <li> A team concede a goal after 5 minutes and then do not concede again.</li>
                                <li> None of the players that start the match for this team can get clean sheet points.</li>
                                <li> A player is substituted on after 15 minutes and plays for the rest of the match. He will get clean sheet points.</li>
                            </ul>

                            <h3>Possible Game Scenario 3</h3>

                            <ul>
                                <li>A player is substituted on after 31 minutes with the scores at 1-1.</li>
                                <li>His side do not concede for the 90 minutes (59 minutes later) and the game goes to extra time.</li>
                                <li>If the player completes his 60+ minutes in extra time he receives clean sheet points.</li>
                            </ul>

                            <p>** Penalty saves and penalty misses do not apply in the event of a penalty shoot-out.</p>

                            <p>*** Maximum 3.6 points per game up to 90 mins and 4.8 points up to 120 mins. Injury time not included.</p>

                            <p>**** Key pass leads to a shot on goal, regardless of outcome.</p>

                            <p>&nbsp;</p>

                            <h1>Market Rules &amp; Important Information</h1>

                            <h2>Fantasy Fives</h2>

                            <p>Fantasy Fives is a fixed entry fee contest where your entry will form part of a pool with other users. The payout structure varies depending on the number of total participants. For a more detailed explanation refer to the table below.</p>

                            <p>&nbsp;</p>

                            <div class="table-responsive">
                                <table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" class="table" style="border-collapse: collapse;">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <p>&nbsp;</p>

                                            <p>&nbsp;</p>
                                        </td>
                                        <td>
                                            <p><strong>Payout</strong></p>
                                        </td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                        <td>100%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><strong>From</strong></p>
                                        </td>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td><strong>2</strong></td>
                                        <td><strong>5</strong></td>
                                        <td><strong>8</strong></td>
                                        <td><strong>31</strong></td>
                                        <td><strong>51</strong></td>
                                        <td><strong>101</strong></td>
                                        <td><strong>201</strong></td>
                                        <td><strong>301</strong></td>
                                        <td><strong>401</strong></td>
                                        <td><strong>501</strong></td>
                                        <td><strong>601</strong></td>
                                        <td><strong>801</strong></td>
                                        <td><strong>1001</strong></td>
                                        <td><strong>1500</strong></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td>
                                            <p><strong>To</strong></p>
                                        </td>
                                        <td><strong>4</strong></td>
                                        <td><strong>7</strong></td>
                                        <td><strong>30</strong></td>
                                        <td><strong>50</strong></td>
                                        <td><strong>100</strong></td>
                                        <td><strong>200</strong></td>
                                        <td><strong>300</strong></td>
                                        <td><strong>400</strong></td>
                                        <td><strong>500</strong></td>
                                        <td><strong>600</strong></td>
                                        <td><strong>800</strong></td>
                                        <td><strong>1000</strong></td>
                                        <td><strong>1500</strong></td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>1</p>
                                        </td>
                                        <td>
                                            <p>1</p>
                                        </td>
                                        <td>100.00%</td>
                                        <td>75.00%</td>
                                        <td>50.00%</td>
                                        <td>34.50%</td>
                                        <td>28.04%</td>
                                        <td>25.70%</td>
                                        <td>24.93%</td>
                                        <td>23.05%</td>
                                        <td>22.97%</td>
                                        <td>22.87%</td>
                                        <td>22.72%</td>
                                        <td>22.66%</td>
                                        <td>22.61%</td>
                                        <td>22.46%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>2</p>
                                        </td>
                                        <td>
                                            <p>2</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>25.00%</td>
                                        <td>30.00%</td>
                                        <td>20.68%</td>
                                        <td>18.69%</td>
                                        <td>16.38%</td>
                                        <td>15.23%</td>
                                        <td>14.74%</td>
                                        <td>13.80%</td>
                                        <td>13.75%</td>
                                        <td>13.18%</td>
                                        <td>12.70%</td>
                                        <td>12.64%</td>
                                        <td>12.57%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>3</p>
                                        </td>
                                        <td>
                                            <p>3</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>20.00%</td>
                                        <td>13.79%</td>
                                        <td>11.21%</td>
                                        <td>10.75%</td>
                                        <td>10.16%</td>
                                        <td>9.67%</td>
                                        <td>9.18%</td>
                                        <td>8.80%</td>
                                        <td>8.41%</td>
                                        <td>8.19%</td>
                                        <td>8.10%</td>
                                        <td>8.05%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>4</p>
                                        </td>
                                        <td>
                                            <p>4</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>10.34%</td>
                                        <td>8.64%</td>
                                        <td>7.94%</td>
                                        <td>7.39%</td>
                                        <td>7.37%</td>
                                        <td>6.89%</td>
                                        <td>6.46%</td>
                                        <td>6.10%</td>
                                        <td>5.89%</td>
                                        <td>5.86%</td>
                                        <td>5.85%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>5</p>
                                        </td>
                                        <td>
                                            <p>5</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>8.62%</td>
                                        <td>7.01%</td>
                                        <td>6.78%</td>
                                        <td>6.46%</td>
                                        <td>6.45%</td>
                                        <td>5.97%</td>
                                        <td>5.52%</td>
                                        <td>5.18%</td>
                                        <td>4.98%</td>
                                        <td>4.75%</td>
                                        <td>4.71%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>6</p>
                                        </td>
                                        <td>
                                            <p>6</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>6.90%</td>
                                        <td>5.84%</td>
                                        <td>5.37%</td>
                                        <td>5.08%</td>
                                        <td>5.06%</td>
                                        <td>5.05%</td>
                                        <td>4.60%</td>
                                        <td>4.32%</td>
                                        <td>4.08%</td>
                                        <td>3.85%</td>
                                        <td>3.82%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>7</p>
                                        </td>
                                        <td>
                                            <p>7</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>5.17%</td>
                                        <td>4.91%</td>
                                        <td>4.21%</td>
                                        <td>4.16%</td>
                                        <td>4.14%</td>
                                        <td>4.13%</td>
                                        <td>3.70%</td>
                                        <td>3.41%</td>
                                        <td>3.17%</td>
                                        <td>2.94%</td>
                                        <td>2.86%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>8</p>
                                        </td>
                                        <td>
                                            <p>8</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>3.97%</td>
                                        <td>2.80%</td>
                                        <td>2.77%</td>
                                        <td>2.76%</td>
                                        <td>2.75%</td>
                                        <td>2.74%</td>
                                        <td>2.50%</td>
                                        <td>2.26%</td>
                                        <td>2.19%</td>
                                        <td>2.14%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>9</p>
                                        </td>
                                        <td>
                                            <p>9</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>3.04%</td>
                                        <td>1.87%</td>
                                        <td>1.62%</td>
                                        <td>1.61%</td>
                                        <td>1.61%</td>
                                        <td>1.61%</td>
                                        <td>1.59%</td>
                                        <td>1.36%</td>
                                        <td>1.36%</td>
                                        <td>1.31%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>10</p>
                                        </td>
                                        <td>
                                            <p>10</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>2.10%</td>
                                        <td>1.40%</td>
                                        <td>1.15%</td>
                                        <td>1.15%</td>
                                        <td>1.15%</td>
                                        <td>1.15%</td>
                                        <td>1.14%</td>
                                        <td>0.91%</td>
                                        <td>0.90%</td>
                                        <td>0.88%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>11</p>
                                        </td>
                                        <td>
                                            <p>15</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>1.31%</td>
                                        <td>1.12%</td>
                                        <td>0.88%</td>
                                        <td>0.87%</td>
                                        <td>0.87%</td>
                                        <td>0.87%</td>
                                        <td>0.86%</td>
                                        <td>0.82%</td>
                                        <td>0.79%</td>
                                        <td>0.75%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>16</p>
                                        </td>
                                        <td>
                                            <p>20</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.92%</td>
                                        <td>0.69%</td>
                                        <td>0.69%</td>
                                        <td>0.69%</td>
                                        <td>0.69%</td>
                                        <td>0.65%</td>
                                        <td>0.64%</td>
                                        <td>0.61%</td>
                                        <td>0.58%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>21</p>
                                        </td>
                                        <td>
                                            <p>30</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.66%</td>
                                        <td>0.55%</td>
                                        <td>0.46%</td>
                                        <td>0.46%</td>
                                        <td>0.46%</td>
                                        <td>0.45%</td>
                                        <td>0.44%</td>
                                        <td>0.43%</td>
                                        <td>0.40%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>31</p>
                                        </td>
                                        <td>
                                            <p>40</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.42%</td>
                                        <td>0.37%</td>
                                        <td>0.32%</td>
                                        <td>0.32%</td>
                                        <td>0.32%</td>
                                        <td>0.32%</td>
                                        <td>0.31%</td>
                                        <td>0.29%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>41</p>
                                        </td>
                                        <td>
                                            <p>50</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.35%</td>
                                        <td>0.29%</td>
                                        <td>0.28%</td>
                                        <td>0.28%</td>
                                        <td>0.27%</td>
                                        <td>0.27%</td>
                                        <td>0.26%</td>
                                        <td>0.25%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>51</p>
                                        </td>
                                        <td>
                                            <p>60</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.26%</td>
                                        <td>0.26%</td>
                                        <td>0.23%</td>
                                        <td>0.23%</td>
                                        <td>0.23%</td>
                                        <td>0.22%</td>
                                        <td>0.22%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>61</p>
                                        </td>
                                        <td>
                                            <p>70</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.24%</td>
                                        <td>0.21%</td>
                                        <td>0.19%</td>
                                        <td>0.18%</td>
                                        <td>0.18%</td>
                                        <td>0.17%</td>
                                        <td>0.16%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>71</p>
                                        </td>
                                        <td>
                                            <p>90</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.17%</td>
                                        <td>0.17%</td>
                                        <td>0.15%</td>
                                        <td>0.14%</td>
                                        <td>0.13%</td>
                                        <td>0.13%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>91</p>
                                        </td>
                                        <td>
                                            <p>110</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.14%</td>
                                        <td>0.12%</td>
                                        <td>0.11%</td>
                                        <td>0.11%</td>
                                        <td>0.11%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>111</p>
                                        </td>
                                        <td>
                                            <p>150</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.10%</td>
                                        <td>0.09%</td>
                                        <td>0.09%</td>
                                        <td>0.08%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>151</p>
                                        </td>
                                        <td>
                                            <p>200</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.07%</td>
                                        <td>0.06%</td>
                                        <td>0.06%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>201</p>
                                        </td>
                                        <td>
                                            <p>250</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.05%</td>
                                        <td>0.04%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>251</p>
                                        </td>
                                        <td>
                                            <p>300</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.03%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>301</p>
                                        </td>
                                        <td>
                                            <p>350</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>0.02%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p>&nbsp;</p>

                            <h2>Star Turn</h2>

                            <p>When entering one of our Star Turn contests please be aware that you are betting in a player pool. That means that the amount of money within the pool is always growing right up until the first game starts.</p>

                            <p>For example, if <strong>User A</strong> places £10 on Ronaldo v Iceland at 7pm, bringing the pool size to £100 and they are the only person betting on Ronaldo, they would stand to win the entire prize.</p>

                            <p>Subsequently another user, <strong>User B</strong>, then enters the market at 7:15pm and places £10 on Ronaldo. If successful, User A and B get a proportional share of the prize pot.</p>

                            <p>At all times, we will display the size of the market in £s and next to each player a % figure which represents how much of the overall pool size has been placed on them.</p>

                            <h2>1 v 1</h2>

                            <p>When entering one of our 1 v 1 contests please be aware that you are betting in a player pool. That means that the amount of money within the pool is growing right up until the first game starts.</p>

                            <p>When choosing to bet on a particular player within a 1 v 1 contest, you are betting alongside and against other users.</p>

                            <p>An example of this is Ronaldo v Sigurdsson. 3 users each place £10 on Ronaldo, 2 users each place £10 on Sigurdsson. The total prize pot is £50.</p>

                            <p>Ronaldo wins, therefore the 3 users that bet on Ronaldo receive a proportional share of the prize pot</p>

                            <p>We have set a limit on the market so that if money taken on 1 side of the 1 v 1 exceeds the prize pool, the contest will be cancelled.</p>

                            <p>&nbsp;</p>

                            <h1>Additional Rules</h1>

                            <h2>Live Scoring</h2>

                            <p>Opta provide our live scoring data. Opta are solely responsible for determining the statistics and actions provided for each player during in-play live scoring, and have the right to review and revise any decisions made at any time. If Opta make any changes to a player’s statistics after a contest has closed and the winnings have been paid, we will not make any amendments or adjustments to any aspect of the closed league’s final scoring.</p>

                            <h2>Instant Pay-outs</h2>

                            <p>Fanager will wait until the final fixture of the contest has concluded before closing the league and paying out winnings. The payout process will not commence until Opta provide the final game report. If Opta decide to make any scoring adjustments after the league has closed and paid out, payouts will not be reversed or reviewed. If there’s a delay from Opta after the final fixture of the contest has ended, then the league will close and pay-outs shall commence accordingly, once the final scores have been received from Opta.</p>

                            <h2>Contest Deadlines</h2>

                            <p>Contest deadlines will always be announced in the league rules for each available contest on Fanager. You can make unlimited changes to your teams before the announced contest start time. Once the contest begins, your team will be locked in and no additional changes can be made.</p>

                            <h2>Postponed or Cancelled Fixtures</h2>

                            <p>If a fixture is cancelled then it has up to 72 hours from the point it should have been played, to be replayed, or it will be cancelled out of the contest slate. This does not affect the ability to swap players pre-game in the event of them playing “Fantasy Fives”, normal rules of swap apply. If 3 or more fixtures are postponed within a contest slate, then regardless of whether the games are to be replayed within 72 hours then the entire contest will be cancelled and all monies returned.</p>

                            <h2>Extra Time and Penalty Shoot-outs</h2>

                            <p>No contest on Fanager will award points to any player during a penalty shoot-out. Goals scored, penalty saves and penalty misses during a penalty shoot-out will not be credited to a players score during a contest. Normal scoring will take place if a scheduled fixture goes to extra time – Example: If a player scores a goal during the two halves of extra time (up to 120 minutes) then that player will be credited with the relevant points to their contest score.</p>

                            <h2>Cancelling an Entry</h2>

                            <p>An entry cannot be cancelled within any paid or free entry game, once it has been submitted. If you believe that an entry error has been made, then please contact our Customer Service Team using the details found at the bottom of this page.</p>

                            <h2>Cancelling a Contest</h2>

                            <p>Fanager reserves the right to cancel any contests at our discretion without any restrictions. Whilst we will attempt to avoid taking such actions, situations may arise which could cause problems to the contest, our users and errors to the site. If a contest is cancelled by Fanager then entry stakes will be returned to the user and the contest will be closed. We will attempt to provide users with a full explanation where necessary.</p>

                            <h2>Guaranteed Contests</h2>

                            <p>If a contest is advertised as ‘Guaranteed’ on Fanager then this means the assigned payout structure will be honoured, regardless of how many users enter the league. For example: If we advertise a £1000 guaranteed prize pool contest with a £5 buy-in and 200 available entrants, but only 180 users join, Fanager will still allow the contest to run and the guaranteed prize pool will still be paid to all winners, even though the league wasn't full.</p>

                            <h2>Non-Guaranteed Contests</h2>

                            <p>Fanager will offer contests which do not have a guaranteed prize pot. If only one user joins a head-to-head league and the start time elapses, the league will close instantly and the player will be refunded their full entry stake. If users join a league which has a progressive pot but the league doesn’t reach its required amount of entries, the league will either pay out on a percentage share basis, or, revert to winner-takes-all. Details of such instances will be advertised in the league rules on a league’s entry page.</p>

                            <h2>Split Pots</h2>

                            <p>If one or more contest entrants finish on the same score, then the league will automatically re-calculate the allocated pay-out for each winner accordingly. Example: If a contest is due to pay out the top 3 managers but 1<sup>st </sup>and 2<sup>nd</sup> placed managers score the same, then the 1<sup>st</sup> and 2<sup>nd</sup> place prize amounts will be shared equally between both managers whilst the 3<sup>rd</sup> placed entrant will receive the 3<sup>rd</sup> place prize as advertised. Pay out details and any split-pot occurrences can be viewed on the league leader-board for each contest you have entered.&nbsp;</p>

                            <h2>Non-cash Prize Competitions</h2>

                            <p>In the event of a tie in a contest which does not allocate a cash-prize, the winner(s) will be decided via the following criteria:&nbsp;</p>

                            <ol>
                                <li>Most goal scorers.</li>
                                <li>Most clean sheets.</li>
                                <li>Highest captaincy points.</li>
                                <li>Highest scoring goalkeeper.</li>
                            </ol>

                            <p>For any further assistance with the above or any other query, please contact us via email at <a href="mailto:support@fanager.com">support@fanager.com</a> or message us via our <a href="http://www.twitter.com/footballfanager">Twitter</a> or <a href="http://www.facebook.com/footballfanager">Facebook</a> page.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>