<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            PRIVACY<span> POLICY</span>
                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h2>General</h2>

                            <p>The online service Fanager (the “Game”) is owned and operated by Fantasy Sports Ltd (“The Company”), a Company registered in Scotland (referred to as “Fantasy Sports Ltd”, “we,” “us,” or “our” herein) with its registered office at 1a Muir Road, Houstoun Industrial Estate, Livingston, West Lothian EH54 5DR and Company registration number SC423995.</p>

                            <p>If you enter (your ‘Team’) into the game through the site located at www.fanager.com (“the Site”) you agree to our Terms of Use and our Privacy Policy.</p>

                            <p>We wish to bring you an unrivalled online Fantasy sports experience. To enable us to do this, and to offer you products and services available on our Site, we will request some information from you when you register with our Site. Please read our Privacy Policy carefully before using our site. By using our Site or by clicking a box that states that you accept or agree to these terms, you signify your agreement to our Privacy Policy. If you do not agree to these terms, you may not use our Site. Our Privacy Policy describes what personal information we may collect from you and what we will and will not do with this information.</p>

                            <h2>How We Collect and Use Your Information</h2>

                            <p>When you sign up for an account on our Site, we may ask you for certain personal information such as email address, postal address, age, gender, job type and residence.</p>

                            <p>We will use your personal information</p>

                            <ul>
                                <li>to communicate with you concerning your account and customer service issues.</li>
                                <li>to ensure compliance with the UK Gambling Commission Regulations.</li>
                                <li>to improve our site to enhance and personalise your browsing experience.</li>
                                <li>to provide advertisements for products and services that we think you may be interested in</li>
                                <li>to ensure the technical functioning of our Site</li>
                                <li>to develop new products and services, and to protect the copyright-protected content of our&nbsp;Site in order that access to our Site is limited to registered users who have a valid&nbsp;Username and password.</li>
                            </ul>

                            <h2>Cookies</h2>

                            <p>We may also store information about you using cookies (files which are sent by us to your computer or other internet access device) that we can access when you visit our Site in future. We do this to help improve your user experience of our Site.</p>

                            <p>A cookie is a small text file which is stored on your computer’s hard drive. Cookies can be used to help analyse web traffic or to tailor its operations to your likes and dislikes.&nbsp; Cookies can also be used for important website functionality.</p>

                            <p>We use traffic log cookies to identify which pages on our Site are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to your needs. We only use this information for statistical analysis purposes and then the data is removed from the system.</p>

                            <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>

                            <p>If you want to delete any cookies that are already on your computer, please refer to the instructions for your file management software to locate the file or directory that stores cookies.</p>

                            <p>Please note that by deleting our cookies or disabling future cookies you may not be able to access areas or content of our site. We strongly recommend that you enable cookies in order to enjoy the full functionality and unique user experience of our Site.</p>

                            <h2>We Will Only Share Your Personal Information To</h2>

                            <p>Enforce the terms and conditions of our Terms of Use.</p>

                            <ul>
                                <li>Allow for a change of ownership of Fantasy Sports Ltd (including but not limited to an acquisition by or merger with another company) and related transfer of all personal information to the new owner in which case any information remains protected in accordance with this Privacy Policy.</li>
                                <li>Allow advertising audits and analysis measuring the size and composition of the group of users that have viewed an advertisement or other promotional information.</li>
                                <li>Allow us to use a third party to perform surveys measuring your experiences and use of our Content (not permitting the third party to use your personal information for any other purpose).</li>
                                <li>Allow us to share aggregated statistics about use of our Site with our business partners. We will not, however, share personally identifying information with these partners or any third parties, except under the narrow circumstances described above. We will not without your express consent provide your personal information to any third parties for the purpose of direct marketing.</li>
                            </ul>

                            <h2>Security</h2>

                            <p>We ensure your personal information is secure from unauthorised access. We ask you to use a unique User ID and password to register with our Site and not to share this information with anyone. In addition, we use encrypted transmissions to limit access to the systems that store your personal information.</p>

                            <p>We respect and adhere with EU legislation on data protection. We may process personal information on secure encrypted servers in countries other than the UK. We may therefore transfer and process your personal information on a secure encrypted server outside your country. However, we will always do so in accordance with this Privacy Policy and applicable law.</p>

                            <h2>We do not store your card details</h2>

                            <p>Your credit and debit card details are not stored by us and cannot be used by our staff. Your card details are encrypted and securely stored by our Merchants. You can read more about the Authipay Privacy Policy here.</p>

                            <h2>Updating Your Personal Information</h2>

                            <p>To update any aspect of your personal information simply click on “My Account” on our Site. It is your responsibility to provide us with true, accurate, complete, and updated registration information.</p>

                            <p>Our Site and our business partners may display links to third party websites on our Site. Please note that we cannot control and cannot be held responsible for the Privacy Policies of third party websites. We strongly recommend that you should always read the Privacy Policy of a website to find out more about how personal information is collected and processed. We also strongly recommend you read the Terms of Use of third party websites.</p>

                            <h2>How can you find out what personal information we hold about you?</h2>

                            <p>You are entitled to see the personal information that we hold about you at any time. (If you write to, email or phone us and ask to see this information, it is known as a ‘subject access request’ or ‘SAR’ or short) You can do so by: -</p>

                            <ul>
                                <li>writing to us at Fanager SARs Team, 1a Muir Road, Houstoun Industrial Estate, Livingston,&nbsp;West Lothian EH54 5DR</li>
                                <li>contacting the Support Team via email</li>
                            </ul>

                            <p>When we receive your request we will send you a form to fill in and you will have to pay a fee of £10. If you do not return the form or pay the £10 fee, we will not be able to deal with your request.</p>

                            <h2>Amendments to Our Privacy Policy</h2>

                            <p>We reserve the right to make changes to our Privacy Policy. If we make any material changes to our Privacy Policy, we will notify you by email prior to posting the new version onto our Site.&nbsp; The latest modification date will appear at the bottom of our Policy.</p>

                            <p>Please note that by accepting our Terms of Use or by using our Site, you consent to the collection and processing of your personal information as described in this Privacy Policy. Your continued use of the Site following the posting of changes to this Privacy Policy will constitute an acceptance of such changes.</p>

                            <p>In the event that our Privacy Policy is translated into other languages and there is a discrepancy between the two language versions, the English language version shall prevail to the extent that such discrepancy is the result of an error in translation.</p>

                            <p>Last Modified on 2nd June 2016</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>