<div class="fixture-div">
    <div class="fixture-teams">{{fixture.teamNameHome}} v {{fixture.teamNameAway}}</div>
    <div class="fixture-date">{{date}}</div>
    <div class="fixture-seperator"></div>
</div>