.fixture-div {
  width: 100%;
  height: 100%;
  margin: 15px;
}

.fixture-teams {
  color: black;
  font-weight: 600;

}

.fixture-date {
  color: gray;
}

.fixture-seperator {
  margin-top: 5px;
  width: 100%;
  border: gray solid 1px;
  height: 2px;
}