<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            TERMS<span> AND </span>CONDITIONS

                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h1>Terms of Use</h1>

                            <p>The online service Fanager (the "Game") is owned and operated by Fantasy Sports Ltd ("The Company"), a Company registered in Scotland (referred to as "Fantasy Sports Ltd", "we," "us," or "our" herein) with its registered office at 1a Muir Road, Houstoun Industrial Estate, Livingston, West Lothian and Company registration number SC423995. If you enter (your 'Team') into the Game through the site located at www.fanager.com ('the Site') you agree to these Terms of Use. If you do not agree with any of these Terms of Use please do not use the Sites, because by using our Site you will be deemed to have irrevocably agreed to these Terms of Use.</p>

                            <h1>Game Rules</h1>

                            <p>Fanager game information regarding rules on scoring, results, player selection and prize conditions, can be found via the Game Rules page.</p>

                            <p>The Game Rules form part of these Terms of Use.</p>

                            <p>The rules, the points' structure and financial structure regarding prizes and game payouts are the copyright of Fantasy Sports Ltd. No information may be reproduced in any format without prior written consent from Fantasy Sports Ltd.&nbsp;</p>

                            <p>Fantasy Sports Ltd reserves the right to refuse to accept any entry which, in their opinion, does not comply with the rules and regulations of the competition or which contravenes the spirit of the Game. Fantasy Sports Ltd have absolute discretion to disqualify any entry, or vary, amend or waive the rules of the competition or terminate the Game at any time and participants agree that no liability shall attach to Fantasy Sports Ltd or as a result thereof and that the exercise of such discretion shall not result in any compensation being payable or paid to any participant. It is a condition of entry that all rules are accepted as final and that the competitor agrees to abide by these rules.</p>

                            <h2>Please act responsibly when using the Sites and comply with these Terms of Use and the rules of the Game. It is a condition of entry that all rules and Terms of Use are accepted as final. Fantasy Sports Ltd reserves the right to refuse, to accept or disqualify any entry which, in its sole opinion, does not comply with the rules and regulations of the Game or which contravenes the essence of the Game.</h2>

                            <h2>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.</h2>

                            <p>By using our Site or by clicking a box that states that you accept or agree to these terms, you signify your agreement to these terms. If you do not agree to these terms, you may not use our Site.</p>

                            <p>You should visit this page regularly to review the current Terms of Use, since your continued use of the Site will be deemed as irrevocable acceptance of any revisions. Any such revisions may include extending the Terms of Use to include other terms and conditions applicable to other products or services offered by us from time to time. These Terms of Use were last updated on 02<sup>nd</sup> August&nbsp;2016.</p>

                            <p>This site is available only to individuals who are at least 18 years of age.</p>

                            <p>As a condition to using our Site, you are required to register and select a password and username. You shall provide us with true, accurate, complete, and updated registration information. Failure to do so shall constitute a breach of these Terms of Use, which may result in immediate termination of your account. You may not select or use as a username of another person with the intent to impersonate that person. We reserve the right to refuse registration of, or terminate a username at our sole discretion.</p>

                            <p>You hereby confirm that you are 18 years of age or more and that any registration information that you submit to us is true, accurate and complete, that you will update such information in order to keep it current, and that you agree to these terms and conditions of our Terms of Use and our&nbsp;<u>Privacy Policy</u>.</p>

                            <p>You hereby confirm that you reside within a country, state or territory that allows you to register and play our game.&nbsp; We will check to confirm your jurisdiction upon registration and block you if necessary.</p>

                            <p>Please note that the use of proxy servers or similar technologies designed to hide or mask an original IP address is strictly forbidden. Any customer found to have utilised such technologies in order to hide or mask their origin IP address will be blocked from our site(s), will have their account immediately closed and may forfeit any winnings.</p>

                            <p>It is your personal responsibility to ensure that at all times you comply with all laws in any jurisdiction that apply to the use of our service. Fantasy Sports Ltd cannot be held responsible for any actions resulting from the use of our website in jurisdictions where gambling may be deemed illegal.</p>

                            <h1>Using our Site and Content</h1>

                            <p>Our Site is only for your personal use. You agree (without limitation) that:</p>

                            <p>You must not use our Site in any way that causes, or may cause, damage to the site or impairment of the availability or accessibility of the site; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

                            <p>You must not use our Site to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan, worm, keystroke logger, root kit or other malicious computer software.</p>

                            <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our Site.</p>

                            <p>You must not download, copy, screen grab, reproduce, "rip", record, make available to the public or otherwise use any of our content (including but not limited to film, video, music, images and text) in a manner not expressly permitted under this Agreement;</p>

                            <p>You must not reverse-engineer, decompile, disassemble or modify our Site and/or our Content or any part thereof.</p>

                            <p>You must not circumvent any technology used by our Site, or any other third party approved by us to protect content accessible through our Site.</p>

                            <p>You agree to indemnify and hold Fantasy Sports Ltd and its officers, directors and employees harmless from any claim or demand (including but not limited to reasonable legal fees) made by a third party due to or arising out of or related to your violation of these Terms of Use or your violation of any laws, regulations or third party rights.</p>

                            <p>For the purposes of the Game and your use of our site, our computer record of your entry will be considered to be your entry. We have the right to reject what, in our sole discretion, we consider to be incomplete, inaccurate or corrupted entries. The decision of Fantasy Sports Ltd as to whether an entry is incomplete, inaccurate or corrupted is final.</p>

                            <p>Fantasy Sports Ltd is committed to ensuring, as far as reasonably practicable to do so, that its Sites and the Game do not cause offence to anyone using the Sites. We therefore request that you do not enter a name for your team that may be considered by others to be inappropriate or offensive. We reserve the right to refuse to accept, and may change, any team names which we feel, in our sole discretion, are inappropriate or offensive.</p>

                            <p>The Game is not open to employees of Fantasy Sports Ltd or employees directly or indirectly employed on Fantasy Sports Ltd services by associated companies, their relatives, agents or agents' relatives.</p>

                            <p>Winner(s) will be notified by e-mail within 72 hours of winning unless stated otherwise in contest specific rules which we may publish from time to time. Prize funds and prizes will not be re-offered or deferred.</p>

                            <p>The receipt, by you if you are a winner, of any prize or prize fund is conditional upon compliance by you with any and all laws, rules and regulations including, without limitation, these Terms of Use. It is the responsibility of each individual participating in the Game to ensure that their participation does not contravene the laws and regulations of the country in which the participant resides.&nbsp; Prize or prize funds cannot be sold or transferred and will only be awarded to the winner.&nbsp; &nbsp;It is your personal responsibility to ensure that at all times you comply with all laws in any jurisdiction that apply to the use of our service. Fantasy Sports Ltd cannot be held responsible for any actions resulting from the use of our website in jurisdictions where gambling may be deemed illegal and reserve the right to withhold prizes and prize fund awards to participants who, by registering and participating in our service are found to have contravened laws in their jurisdiction.</p>

                            <p>By registering to play the Game you are accepting to receive email updates. Fantasy Sports Ltd reserves the right to validate email addresses at any time and the right to remove or suspend from the Game any teams found to be associated with an invalid email address. If at any time you wish to unsubscribe from these update emails, please reply to the email adding "unsubscribe" to the subject line. Please allow&nbsp;72 hours&nbsp;for unsubscribe to take effect.</p>

                            <p>The email address held by Fantasy Sports Ltd should be kept valid at all times. Fantasy Sports Ltd provides a facility to allow customers to update their email address at any time. Update emails about the Game will be sent to this email address.</p>

                            <p>Fantasy Sports Ltd will undertake a KYC ("know your customer") check on every account holder at the point of withdrawal.&nbsp; Fantasy Sports Ltd reserves the right to require you to provide personal identification to Fantasy Sports Ltd as a condition of withdrawing funds from your account. This is in order to comply with the conditions of our UK remote pool betting licence as issued by The UK Gambling Commission.</p>

                            <p>Please provide colour copies of the following via the verification functionality we provide within the “my account” area: -</p>

                            <p>&nbsp;</p>

                            <ul>
                                <li>Passport or driver’s license.</li>
                                <li>A recent utility bill or bank statement, detailing your current address (less than three months old).</li>
                            </ul>

                            <p style="margin-left:12.0pt;">&nbsp;</p>

                            <p>In order to fully comply with UK anti money laundering legislation, customers are only permitted to withdraw funds from their Fantasy Sports Ltd account back onto the method that was originally used to deposit the funds, or to the current card that is registered. Please note that only one card may be registered on your account at any one time.</p>

                            <p>Fantasy Sports Ltd provides our customers with the ability to set their own weekly deposit limits via the account settings area within the “my account” section of our site. Customers can decrease their weekly deposit limit at any time on our site. Limit durations can be set to 24 Hrs, 7 Days or 1 Month. Customers can increase their deposit limit at any time; however, the increase will only take effect on the customer’s account after 24 hours.</p>

                            <p>Account facilities are provided to you solely to enable you to participate in the game. If you, for whatever reason, appear to be depositing or withdrawing money without genuine play, you will be liable to have your account suspended and the circumstances investigated. This may result in a report to the necessary authorities and/or the account being closed.</p>

                            <p>Only the registered customer may make transfers (or substitutions) to his or her team. Anyone found to be managing a team that is not registered to them, on behalf of another customer or without their knowledge, will be removed and not eligible to win prizes or a winner's share of the prize fund.</p>

                            <p>All bets must be made online via our offered site(s) that you have registered and created an account with.</p>

                            <p>In return for providing our Industry leading service we charge an entry fee for each contest. The entry fee is 10% of the stake.</p>

                            <p>You can join any of our contests up until the start date of the particular contest. This is subject to allowing Fantasy Sports Ltd reasonable time to process your registration and account details where you have not or are not previously registered or have an account with Fantasy Sports Ltd.</p>

                            <p>Informative and explanatory information supplied by Fantasy Sports Ltd relating to the Game forms part of the Terms of Use of the Game.</p>

                            <p>You are responsible for all fees paid from your account to play the Game, where the correct username and password combination have been provided. If you suspect that your account details have been compromised, we require you to contact us. It is your responsibility to update your password regularly, in order to preserve the security of your information.</p>

                            <p>Fantasy Sports Ltd reserves the right to refuse to accept the whole or part of any bet placed to enter the Game. Fantasy Sports Ltd also reserves the right to close your account and refund your account balance where appropriate and provided that the account balance is not as a result of fraudulent activities.</p>

                            <p>It is your responsibility to ensure that your credit/debit card issuer permits the card to be used for the purposes of gambling. Fantasy Sports Ltd does not accept any responsibility or liability for any action taken by a card issuer against a Fantasy Sports Ltd account holder.</p>

                            <p>Fantasy Sports Ltd accounts do not pay interest on account balances.</p>

                            <p>No credit terms are provided by Fantasy Sports Ltd. It is your responsibility to maintain sufficient funds in your account in order to play the Game. Where a credit/debit card is used to deposit funds, such funds only become available after our payment gateway has obtained authorisation from the relevant card issuer. If your card issuer declines your transaction, please contact your card issuer in the first instance.</p>

                            <p>All times shown are at GMT (UTC) except from the last Sunday of March to last Sunday of October in which times are BST (UTC+01:00).</p>

                            <p>Our player statistics and points are provided to us under a commercial arrangement with Opta who are a leading provider of sports data. Neither Fantasy Sports Ltd nor Opta accept any responsibility whatsoever for erroneous or inaccurate data. In the event of a dispute between Fantasy Sports Ltd and you, or between you and another manager of a registered Fantasy Sports Ltd Team in any of our contests, the decision of Fantasy Sports Ltd is final.</p>

                            <p>Where a fixture, which forms part of any contest offered by Fanager, is abandoned or postponed no player points will be calculated or credited by Fanager for that fixture. If the date of the replayed or rearranged fixture falls within the date range of the contest, then the player points for that fixture will be calculated and credited. If the date of the replayed or rearranged fixture falls outside the date range of the contest, then the player points for that fixture will not be calculated and credited.</p>

                            <p>Fantasy Sports Ltd reserves the right to reclaim any incorrectly transferred monies relating to incorrect settlement of bets and by accepting these terms and conditions you hereby authorise Fantasy Sports Ltd to withdraw monies from your account following Fantasy Sports Ltd contacting you and providing you with written evidence of the incorrectly transferred monies.</p>

                            <p>It is your responsibility to ensure that all details of bets you place are correct. Once Fantasy Sports Ltd confirms your transaction bets placed via our site cannot be cancelled unless authorised by Fantasy Sports Ltd. Fantasy Sports Ltd reserves the right to void any and all bets:</p>

                            <p>1. Accepted in error after a contest has commenced.</p>

                            <p>2. Made by any individual or group acting in liaison in an attempt to defraud.</p>

                            <p>3. Accepted where your account does not have sufficient cleared funds to cover 100% of your bet.</p>

                            <p>It is your responsibility to confirm whether or not a player is eligible to play in a particular contest. For example, they may be injured or suspended and therefore unable to play.</p>

                            <p>There must be a minimum of 2 customers per contest. In the event of not enough customers joining a contest, the contest will automatically be cancelled with relevant entry fee and stake returned, as applicable.</p>

                            <p>If a contest has run with no player accruing points, the contest will be cancelled with relevant entry fee and stake returned, as applicable.</p>

                            <p>If a contest with a minimum customer requirement is not met, the contest will be cancelled and player(s) will have their entry fee refunded to their Fanager account.</p>

                            <p>Winning customers must provide all requested information within 14 Days. Failure to do so will result in the forfeiture of any prizes therein.</p>

                            <p>When one of the bet options in the market attracts more money than the value of the prize pool, the market will be cancelled.</p>

                            <p>We reserve the right to refuse bets as the pool is developing if the acceptance of the bet size skews the pool to an unfair level.</p>

                            <p>&nbsp;</p>

                            <h2>New Customer Deposit Bonus</h2>

                            <p><ins><em><strong>Please note that the New Customer Deposit Bonus is no longer available. &nbsp;The below terms are for legacy purposes only.</strong></em></ins></p>

                            <p>The New Customer Deposit Bonus is a one off £20 bonus which is credited to a new customer's account, following a minimum deposit of £1 into their account <em>(example: deposit £1 and receive a £20 New Customer Deposit Bonus = total account balance £21).</em></p>

                            <p>Each new customer is entitled to one account opening offer.&nbsp; A maximum of 1 deposit bonus, per customer is permitted.</p>

                            <p>Individuals must create an account with fanager.com in order to receive the new customer deposit bonus. Each individual must provide the following information in order to create an account; First name, surname, date of birth, current postal address, current e-mail address and debit/credit card details.</p>

                            <p>A customer wishing to benefit from the new customer deposit bonus must deposit a minimum amount of GBP £1.00 to their fanager.com account.</p>

                            <p>The New Customer Deposit Bonus must be used within 30 calendar days of the original date that the bonus is credited to a customer account.&nbsp; After 30 calendar days the remaining unused bonus amount will be removed from the customer account.</p>

                            <p>The New Customer Deposit Bonus is not returned as part of the settlement of successful bets. Only the profit from each bet wagered using the new customer deposit bonus is returned to the customer account.</p>

                            <p>Fantasy Sports Ltd reserves the right to remove Bonus Funds or void any open or settled bets if we believe a customer has attempted, or is attempting to abuse the New Customer Deposit Bonus.</p>

                            <p>Fantasy Sports Ltd reserves the right, at its sole discretion, to determine whether any customer is attempting to abuse the New Customer Deposit Bonus.</p>

                            <p>These terms governing the new customer deposit bonus form part of Fantasy Sports Ltd General Terms of use, even where posted, listed or advertised separately to the general terms of use. &nbsp;</p>

                            <p>Fantasy Sports Ltd reserves the right to withdraw the New Customer Deposit Bonus offer at any time without prior notification or publication.</p>

                            <h1>Fanager 2016 Freeroll Contest &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

                            <p>You are invited to play in the Fanager Euro 2016 Freeroll.</p>

                            <p>The freeroll will run inclusive Wednesday 6th July 2016 till Thursday 7th July 2016.</p>

                            <p>The terms and conditions by which we offer the Fanager Euro 2016 Freeroll are subject to our terms of use.</p>

                            <p>In addition, the following specific terms and conditions apply to this contest. Where there is any discrepancy between any clauses contained in our terms of use and the following specific terms of use, the following specific terms of use will prevail.</p>

                            <p><strong>1.</strong> Individuals wishing to enter the Euro 2016 Freeroll must provide their name, e-mail address and confirm that they are at least 18 years of age by entering these details at <a href="https://fanager.com/">https://fanager.com/</a>.</p>

                            <p><strong>2.</strong> Individuals must create an account with Fanager.com in order to enter the Euro 2016 Freeroll. Each individual must provide the following information in order to create an account; Title, First name, surname, date of birth, current postal address, current e-mail address and debit/credit card details.</p>

                            <p><strong>3.</strong> Individuals should specifically refer to our “Using our Site and Content” section of our terms of use for important information on acceptable identity documents required in order to withdraw funds from your customer account.</p>

                            <p><strong>4.</strong> The winning entrants will be notified by e-mail to their registered e-mail address by Fantasy Sports Ltd within 24 hours of the conclusion of the contest.</p>

                            <p><strong>5.</strong> In the event of a tie the prize will be shared equally.</p>

                            <p><strong>6.</strong> The winning entrant agrees that their name and likeness can be used by Fantasy Sports Ltd on fanager.com for the sole purpose of announcing the winners of the contest.</p>

                            <p><strong>7.</strong> All entrants to the Fanager Euro 2016 Freeroll contest should familiarise themselves with our “terms of use”, “privacy policy” and “how to play” guide, which are all located and easily accessible on fanager.com. It is a condition of all our offered contests that entrants adhere to the rules governing timescales for completed team entry into our contests.</p>

                            <p><strong>8.</strong> The winning prize is subject to the winning entrants having complied with these terms and conditions and the terms of use located on fanager.com. In the event that the winning entrants have been found not to have complied with these terms and conditions the winning prize sums will be awarded to the entrant with the next highest final score.</p>

                            <p><strong>9.</strong> Individuals are permitted to make up to 20 entries into the Fanager Euro 2016 Freeroll contest.</p>

                            <p><strong>10.</strong> Fanager Euro 2016 Freeroll has a total prize fund of GBP £10,000</p>

                            <p><strong>11.</strong> The prize breakdown for the Fanager Euro 2016 Freeroll contest is as follows:</p>

                            <p>&nbsp;</p>

                            <p>1st Place - GBP £3000</p>

                            <p>2nd Place - GBP £750</p>

                            <p>3rd Place - GBP £350</p>

                            <p>4th Place - GBP £225</p>

                            <p>5th Place - GBP £150</p>

                            <p>6th Place - GBP £125</p>

                            <p>7th Place - GBP £100</p>

                            <p>8th Place - GBP £100</p>

                            <p>9th Place - GBP £100</p>

                            <p>10th Place - GBP £100</p>

                            <p>The remaining £5000 will be shared equally between 11th - 2510th place.</p>

                            <h2>Customer Fund Protection</h2>

                            <p>Fantasy Sports Ltd adheres to the UK Gambling Commission’s Basic Segregation of Customer Funds rating system, as we ensure all customer funds are held in a separate Bank Account from our Business Bank Account.&nbsp; In the unlikely event of insolvency, these funds would form part of our Company assets.&nbsp;</p>

                            <p>For more information, please visit <a href="http://www.gamblingcommission.gov.uk/Consumers/Protection-of-customer-funds.aspx">http://www.gamblingcommission.gov.uk/Consumers/Protection-of-customer-funds.aspx</a></p>

                            <h1>Disclaimers</h1>

                            <p>Our Site may contain links to other sites ("Third Party Sites") as well as articles, advertisements, photographs, text, graphics, pictures, designs, music, sound, information, applications, software and other content or items originating from third parties ("Third Party Content"). We explicitly disclaim any responsibility for the accuracy, completeness, appropriateness or availability of information, content and materials found on Third Party Sites or in Third Party Content. We cannot ensure that you will be satisfied with any products or services that you purchase from a Third Party Site that links to or from our Site or third-party information, content or materials contained on our Site. We have not taken any steps to confirm the accuracy, completeness or reliability of, any of the information, content or materials contained on any Third-Party Site or any Third Party Content. Consequently, we make no representations or warranties concerning the third party sites or any other site links or any Third Party Content and cannot be held responsible for the content, availability, accuracy, relevance, copyright compliance, legality or decency of material contained in any Third Party Site or Third Party Content and we make no representations or warranties as to the security of any information, content or materials (including, without limitation, Credit Card and other personal information) you might be requested to give to any Third Party. You hereby irrevocably waive any claim against us with respect to information, content and materials contained on our Site, on Third Party Sites or in any Third Party Content, and any information, content and materials you provide to any Third Party Sites (including, without limitation, credit card and other personal information). The use of our Site (including but not limited to its content) is at your own risk. The Site and Site Content is provided on an "as is" and "as available" basis. To the fullest extent possible under applicable law, we give no warranty, express or implied, as to the quality, content and availability or fitness for a specific purpose of our Site and our Site Content. Consequently, we will in no way be responsible for any transaction between you and third-party providers of products or services advertised on or through our Site. As with any purchase of a product or service through any Site, you should use your judgment and exercise caution where appropriate. No advice or information whether oral or in writing obtained by you from us shall create any warranty on behalf of Fantasy Sports Ltd in this regard.</p>

                            <h1>Responsibility for your account</h1>

                            <p>You are responsible for maintaining the confidentiality of your username, password, and your account, as well as all activities that occur under your account. You hereby agree to indemnify, defend, and hold us, and our licensors, licensees, distributors, agents, representatives and other authorised users, and all of the foregoing entities' respective officers, directors, owners, employees, agents, representatives and assigns (collectively, the "Indemnified Parties") harmless from and against any and all losses, damages, liabilities, claims, penalties, fines, expenses and costs (including settlement costs and any legal or other fees and expenses for investigating or defending any actions or threatened actions) incurred by any Indemnified Parties in connection with any claim arising out of any breach by you of these terms of use or claims arising from your use of the Site and/or your account. You shall use your best efforts to cooperate with us in the defence of any claim. We reserve the right, at our own expense, to employ separate legal representation and assume the exclusive defence and control of any matter otherwise subject to indemnification by you.</p>

                            <h1>Limitation of Liability</h1>

                            <p>Subject to applicable law we do not accept liability for any loss, damages, costs or expenses suffered in connection with your use of any software, application, device or any other material provided to you in connection with your use of our site, or for any loss which is not a direct and reasonable foreseeable consequence of the, (i) use of, or the inability to use, our Site or content, or (ii) the conduct or actions, whether online or offline, of any user of our site or any other person or entity, even if we have been advised of the possibility of such damages.</p>

                            <p>We may change our site or delete content or features or any services provided through or in our Site in any way, at any time and for any reason or no reason.</p>

                            <p>The limitations, exclusions and disclaimers in this section and elsewhere in our Terms of Use apply to the maximum extent permitted by applicable law.</p>

                            <p>We will not be liable or held responsible for any delay or failure to comply with our obligations under these terms of use if the delay or failure arises from any cause that is beyond our reasonable control including, without limitation, acts by third parties such as network providers. This term does not affect your statutory rights as a consumer.</p>

                            <h1>Advertising and Use of Computational Resources</h1>

                            <p>As consideration for your rights under this Agreement, you agree that (i) we and our business partners have a right to provide advertising and other information to you in relation to our Site, and that (ii) we and our business partners have the right to utilise the processor, bandwidth and storage hardware on your computer or other relevant device for the permitted purpose of facilitating the communication and transmission of our Site Content and other data or features to you. Please read our&nbsp;<u>Privacy Policy.</u></p>

                            <h1>Limitations of Technology</h1>

                            <p>We will make all reasonable efforts to keep our Site and Content operational. However, certain technical difficulties or maintenance may, from time to time, result in temporary interruptions. We reserve the right to modify or discontinue, temporarily or permanently, functions and features of our Site and Content with or without notice.</p>

                            <h1>Law and Jurisdiction</h1>

                            <p>Our Terms of Use shall be governed by and construed in accordance with the laws of Scotland, Scottish Courts shall have exclusive jurisdiction in respect of any actions or claims under our Terms of Use and you hereby consent and submit to the personal jurisdiction of such courts; provided that nothing herein shall prevent the application and enforcement of mandatory and applicable law. We make no representation that information; Content and materials on our Site are appropriate or available for use in any particular location. If you choose to access our Site, you do so on your own initiative and are responsible for compliance with all applicable National and Local laws.</p>

                            <h1>Amendment to these Terms of Use</h1>

                            <p>We reserve the right, in our sole discretion, to change, modify, add or delete portions of these terms of use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you by posting an announcement on our Site, prior to the relevant change. What constitutes a "material change" will be determined at our sole discretion, in good faith and using reasonable judgment. You shall be responsible for reviewing and becoming familiar with any such material changes. Use of our Site by you following such notification constitutes your acceptance of the Terms of Use as modified.</p>

                            <h1>Termination</h1>

                            <p>These terms of use are effective until terminated by either you or us. You may terminate our Terms of Use at any time by discontinuing use of our Site and destroying any and all materials obtained from our Site and all related documentation and all copies thereof, whether made under these terms of use or otherwise.</p>

                            <p>We may immediately terminate these terms of use with respect to you (including your access to our Site) in our absolute discretion including, without limitation, if you breach or fail to comply with any material term or provision of these Terms of Use. Upon termination, you must cease to use our Site and destroy all materials obtained from our Site and all copies thereof, whether made under these Terms of Use or otherwise.</p>

                            <p>We have adopted and implemented a policy that provides for the termination, in appropriate circumstances, of the accounts of users who are infringers of copyright. Any fraudulent, abusive or otherwise illegal activity may also be grounds for termination of your account, at our sole discretion, and you may be reported to the appropriate authorities.</p>

                            <h1>Privacy Policy</h1>

                            <p>You agree that we have a right to collect and process your personal information in accordance with our&nbsp;<u>Privacy Policy</u>.</p>

                            <h1>Complaints Procedure &amp; Alternative Dispute Resolution</h1>

                            <p>In the event you may have a complaint about the Game or the service received in connection with the Game, then please email the Fanager Support Team at support@fanager.com.</p>

                            <p>However, if the matter cannot be satisfactorily resolved then a formal complaint may be made using the following procedure:</p>

                            <ul>
                                <li>If a customer has a complaint, then please get in touch by using the “contact us” form.&nbsp; Alternatively, write to us at the following address: Fantasy Sports Ltd, 1a Muir Road, Houstoun Industrial Estate, Livingston, West Lothian, Scotland, EH54 5DR, providing complaint and contact information.</li>
                                <li>A written complaint will receive a response within 7 working days of the complaint. If a customer’s complaint requires further investigation and escalated to a Senior Manager, the customer will be advised of this within that time.</li>
                            </ul>

                            <h1>What happens next?</h1>

                            <ul>
                                <li>Where a complaint requires further investigation, every effort will be made to complete the investigation within 14 days of receipt. After which we will contact the customer with its findings, recommendations and any proposed actions.</li>
                                <li>If we cannot resolve the problem or, if you the customer is not happy with the outcome, the complaint will be escalated to Fantasy Sports Ltd’s Managing Director.</li>
                            </ul>

                            <p>If a customer is still not satisfied with the decision reached by Fantasy Sports Ltd’s Managing Director and wish to take further action, we will refer the matter to our appointed independent arbitration service. Fantasy Sports Ltd currently appoints JP Sheridan, TLT Scotland Ltd to provide independent arbitration services where required. Contact details are +44(0)333 006 1038 or johnpaul.sheridan@TLTsolicitors.com. The decision of Fantasy Sports Ltd following independent arbitration is final.</p>

                            <h1>General Provisions</h1>

                            <p>If any provision of these Terms of Use shall be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these terms of use and shall not affect the validity and enforceability of any remaining provisions. If you breach these Terms of Use and we take no action against you, we will not be considered to have given up our rights in respect of your breach and we will also still be entitled to use our rights and remedies in any other situation where you breach these Terms of Use.</p>

                            <p>Except where expressly provided to the contrary, these Terms of Use are not intended to be for the benefit of, and shall not be enforceable by, any person who is not a party to it, under any applicable laws or otherwise.</p>

                            <p>In the event that our Terms of Use are translated into other languages and there is a discrepancy between the two language versions, the English language version shall prevail to the extent that such discrepancy is the result of an error in translation.</p>

                            <p>fanager.com is owned and operated by Fantasy Sports Ltd, who are licensed and regulated by The Gambling Commission under UK licence number 000-035633-R-316743-001</p>

                            <p>For further information on the Gambling Commission please go to:&nbsp;<a href="http://www.gamblingcommission.gov.uk/">http://www.gamblingcommission.gov.uk</a></p>

                            <p><strong>To access help relating to our services: Please email our Support Team at </strong><a href="mailto:Support@fanager.com"><strong>support@fanager.com</strong></a><strong>. </strong></p>

                            <p>For commercial or partner related enquiries please write to:<br>
                                Fantasy Sports Ltd, 1a Muir Road, Houstoun Industrial Estate, Livingston, West Lothian, EH54 5DR.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>