<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">SELF EXCLUDE</h3></div>
        <div class="panel-body">

            <form class="form-horizontal" role="form" method="POST" action="http://test.fanager.com/selfExclude">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Fanager.com provides the facility to allow a customer to self-exclude themselves from their account or specific products for a set period of time. Once this change has been made, it will not be possible for the selected products to be re-activated for any reason until after the set period has expired.</p><br>

                        <p>If you wish to self-exclude yourself now, you can do so by selecting the period of self-exclusion below. Please be aware, the self-exclusion will <strong>become effective immediately</strong> once you submit.</p>
                    </div>
                </div>

                <input type="hidden" name="_token" value="vPDogEZEyaMPN4DDrauuHeM8h9msJMci5PFwf4zN">

                <div class="form-group">

                    <div class="col-md-10">
                        <select class="form-control" name="selfExcludedUntil[]">
                            <option value="">No Exclusion</option>
                            <option value="6:months">6 months</option>
                            <option value="1:year">1 year</option>
                            <option value="2:years">2 years</option>
                            <option value="5:years">5 years</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-success pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>        					        		</div>
</div>