<div class="fixtures-panel">

    <div class="fixture-panel-title">LEAGUE MATCHES</div>
    <div class="fixture-panel-date">Start Date: {{contest.startDateLong}}</div>

    <div class="fixture-panel-fixtures" *ngIf="fixtures != undefined">
        <fixture  *ngFor="let fixture of fixtures" [fixture]="fixture" [date]="date"></fixture>
    </div>

    <div class="panel-button">
        <button>Create a Lineup</button>
    </div>
</div>