.fixtures-panel {
  background-color: white;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 62%;
  width: 95%;
  height: 300px;
}

.fixture-panel-title {
  position: absolute;
  left: 20px !important;
  top: 20px !important;
}

.fixture-panel-date {
  position: absolute;
  left: 20px !important;
  top: 40px !important;
}

.fixture-panel-fixtures {
  position: absolute;
  left: 20px !important;
  top: 80px !important;
}

.panel-button {
  background-color: green;
  position: absolute;
  right: 20px !important;
  bottom: 20px !important;
}