<div class="container-fluid">
    <div class="row">
        <app-header *ngIf="loggedIn" (onLoggedOut)="onLogOut($event)" (onDisplayMyContests)="displayMyContests($event)"></app-header>
        <nav *ngIf="!loggedIn" class="navbar navbar-default navbar-static-top homepage-navbar">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button class="btn bet-slip visible-xs" onclick="showBetslip()">
                        BET SLIP
                    </button>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="http://test.fanager.com">
                        <img src="http://test.fanager.com/assets/img/logo/topLogoStandard.png" class="img-responsive hidden-sm hidden-xs" alt="">
                        <img src="http://test.fanager.com/assets/img/logo/topLogoStandard.png" class="img-responsive visible-sm visible-xs" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <!-- <ul class="nav navbar-nav">
                        <li><a href="http://test.fanager.com/home">Home</a></li>
                    </ul>-->
                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Authentication Links -->

                        <!-- <li><a href="http://test.fanager.com/contests" target="_self">VIEW CONTESTS</a></li> -->
                        <li><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
                        <!--  <li><a href="http://test.fanager.com/register" target="_self">REGISTER</a></li> -->
                        <li class="visible-lg visible-md">
                            <div class="beta-tag visible-lg visible-md">
                                <img src="http://test.fanager.com/assets/img/general/beta-tag.png" alt="" class="img-responsive">
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>

        <div class="container" (onLoggedIn)="onLoggedIn($event)">

            <router-outlet></router-outlet>

        </div>

        <app-footer></app-footer>
    </div>
</div>
