<div class="col-md-3 hidden-xs hidden-sm">
      <span class="" *ngIf="accessBetslip">
        <betslip class="ng-isolate-scope"> <div class="widget-betting-slip" [ngClass]="panel ? 'widget-betting-slip' : 'widget-betting-slip-mobile'" style="">
            <h3 *ngIf="panel">
                BETTING SLIP
            </h3>
            <div class="table-responsive" style="max-height: 500px">
                <table class="table" [ngClass]="{'fanager-table' : !panel}">
                    <tbody>
                        <tr *ngFor="let entry of teams">
                            <td><div>Fantasy 5s</div><div class="team-name">{{entry.name}}</div></td>
                            <td>£{{entry.entryFee}}</td>
                            <td><i class="fa fa-close use-pointer"></i>   <i class="fa fa-eraser use-pointer"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="total-row">
                <ul class="list-inline" [ngClass]="{'col-xs-12' : !panel}">
                    <li >
                        <p class="m-n">Total</p>
                        <input class="ng-pristine ng-untouched ng-valid ng-empty" name="free_credit" [ngModel]="freeCredit" style="" type="checkbox"> Use free credit<br>
                    </li>
                    <li class="">
                        £{{total}}
                    </li>
                </ul>
            </div>
            <div class="widget-footer" [ngClass]="(panel ? 'widget-footer' : 'col-xs-12 text-center')" style="">
                <button class="btn btn-success btn-block" disabled="disabled" [ngClass]="{'btn-block' : panel}" (click)="postBetslip()" style="">PLACE BETS NOW</button>
            </div>
            </div>
        </betslip>
      </span>
      <ul class="list-inline banners">

        <li [ngClass]="{'no-betslip' : accessBetslip === false}">
            <div class="banner-wrapper">
                <a routerLink="/how_to_play" routerLinkActive="active"><img alt="newToFanager" class="img-responsive" src="http://test.fanager.com/assets/img/general/newToFanager.jpg"></a>
            </div>
        </li>

      </ul>
</div>