<div class="col-xs-12" ng-show="vm.accessBetslip != false">
    <uib-accordion class="visible-xs visible-sm accordion-primary ng-hide" ng-show="vm.showBetSlip">
        <div role="tablist" class="panel-group" ng-transclude="">
            <div class="panel ng-scope ng-isolate-scope panel-default panel-open" ng-class="panelClass || 'panel-default'" is-open="true">
                <div role="tab" id="accordiongroup-22-3699-tab" aria-selected="true" class="panel-heading" ng-keypress="toggleOpen($event)">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="" aria-expanded="true" aria-controls="accordiongroup-22-3699-panel" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                <span uib-accordion-header="" ng-class="{'text-muted': isDisabled}" class="ng-binding">
                        <h4 class="ng-scope">
                            BET SLIP
                            <i class="fa fa-sort-desc pull-right" aria-hidden="true"></i>
                        </h4>
                                </span>
                        </a>
                    </h4>
                </div>
                <div id="accordiongroup-22-3699-panel" aria-labelledby="accordiongroup-22-3699-tab" aria-hidden="false" role="tabpanel" class="panel-collapse collapse in" uib-collapse="!isOpen" aria-expanded="true" style="height: auto;">
                    <div class="panel-body" ng-transclude="">
                        <uib-accordion-heading class="ng-scope"></uib-accordion-heading>
                        <betslip user="vm.user" panel="false" class="ng-scope ng-isolate-scope">
                            <div ng-class="vmB.panel ? 'widget-betting-slip' : 'widget-betting-slip-mobile'" class="widget-betting-slip-mobile" style="">
                                <h3 ng-show="vmB.panel" class="ng-hide" style="">
                                    BETTING SLIP
                                </h3>
                                <div class="table-responsive" style="max-height: 500px">
                                    <table class="table fanager-table" ng-class="{'fanager-table' : !vmB.panel}" style="">
                                        <tbody>
                                        <!-- ngRepeat: bet in vmB.user.betslip -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="total-row">
                                    <ul class="list-inline col-xs-12" ng-class="{'col-xs-12' : !vmB.panel}" style="">
                                        <li>
                                            <p class="m-n">Total</p>
                                            <input type="checkbox" name="free_credit" ng-model="vmB.freeCredit" class="ng-pristine ng-untouched ng-valid ng-empty" style=""> Use free credit<br>
                                        </li>
                                        <li class="ng-binding">
                                            £0.00
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 text-center" ng-class="(vmB.panel ? 'widget-footer' : 'col-xs-12 text-center')" style="">
                                    <button class="btn btn-success" ng-class="{'btn-block' : vmB.panel}" ng-click="vmB.postBetslip()" ng-disabled="vmB.user.betslip.length === 0" disabled="disabled">PLACE BETS NOW</button>
                                </div>
                            </div>
                        </betslip>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
</div>