<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">DEPOSIT LIMITS</h3></div>
        <div class="panel-body">


            <form class="form-horizontal" role="form" method="POST" action="http://test.fanager.com/depositLimit">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>This facility enables you to limit the amount of money that you are able to deposit into your account on a daily, weekly, and/or monthly basis.</p><br>
                        <!-- <p>Please note that to increase the daily limit above £1000, you will need to contact support.</p>-->
                    </div>
                </div>
                <div class="col-md-10" style="padding-left:0px;">
                    <p>Set your daily, weekly and monthly limits. Please note that to increase the daily limit above £1000, you will need to contact support.</p>
                    <br>
                </div>

                <input type="hidden" name="_token" value="vPDogEZEyaMPN4DDrauuHeM8h9msJMci5PFwf4zN">

                <div class="col-xs-10" style="padding-left:0px;">
                    <h5>DAILY (£)</h5>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="dailyLimit" value="1000">

                    </div>
                </div>

                <div class="col-xs-10" style="padding-left:0px;">
                    <h5>WEEKLY (£)</h5>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="weeklyLimit" value="4000">

                    </div>
                </div>

                <div class="col-xs-10" style="padding-left:0px;">
                    <h5>MONTHLY (£)</h5>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="monthlyLimit" value="10000">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-success pull-right">
                            Update
                        </button>
                    </div>
                </div>

            </form>


        </div>        					        		</div>
</div>