<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">WITHDRAW</h3></div>
        <div class="panel-body">

            <p>You need to make a <a (click)="goToDepositPage()"><strong>deposit</strong></a> so that we can register a card to transfer the credit to.</p>
        </div>        					        		</div>
</div>