body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    position: relative;
}

.datatable,
.info {
    text-align: left;
    width: 75%;
    margin: 0 auto;
}

.info {
    box-sizing: border-box;
    padding: 0 1em;
    border: solid 1px #ccc;
    background: white;
    font-size: .8em;
    margin-bottom: 1em;
}

.datatable.scroll-vertical {
    height: 70vh;
}

.selected-column {
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input[type=text] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5264AE;
}

input:focus {
    outline: none;
}

a {
    color: grey;
    text-decoration: none;
}

.expander-btn {
    margin-top:8px;
    display:block;
}

h3 {
    background: #1f89ff;
    margin: 0 0 30px 0;
    color: #FFF;
    text-align: left;
    padding: 10px;
    overflow: hidden;
    height: 32px;
}

h3 a {
    color: #ccc;
}

h3 small {
    margin-left: 10px;
    font-size: .8rem;
}

.fullscreen {
    position: absolute !important;
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.selection-cell .datatable-body-cell.active{
    background: #0829e0 !important;
    color: #FFF !important;
}

.selected-column {
    float: right;
    width: 20%;
    margin-right: 20px;
    text-align: left;
}

.selected-column h4 {
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0;
}

ul, li {
    padding:0;
    margin:0;
    list-style:none;
}

ul {
    margin: 10px;
}

li {
    padding: 3px 5px;
}

nav {
    background: #FFF;
    z-index: 99;
    top:0;
    left:0;
    height: 100%;
    width: 200px;
    position: absolute;
    min-height: 1500px;
    font-size:14px;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
}

nav ul {
    margin: 0 8px !important;
}

nav li {
    padding: 0;
}

nav h3 {
    font-size: 14px;
    margin:0 0 10px 0;
}

nav h4 {
    margin: 7px 0 0 0;
}

nav h4 a {
    color:#000;
}

content {
    margin-left: 200px;
    min-height: 100vh;
    display:block;
    position: relative;
    padding-bottom: 20px;
}

content h3 {
    padding-left: 35px;
}

.main-ul {
    margin-left: 15px !important;
    display: block;
}

.github-button-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav h3 small{
    font-size: .7rem;
    display: inline-block;
    margin-left: 0;
}

select {
    width: 100%;
    height: 30px;
    margin: 5px 0;
}