<div class="row">

    <my-contest-panel *ngIf="showMyContests" (onSelectedContest)="contestSelected($event)"></my-contest-panel>

    <div id="main-container">

        <!--<game *ngIf="showSelectedContest" [contest]="selectedContest"></game>-->

        <div class="container  homepage" *ngIf="!showMyContests && !showSelectedContest">
            <div class="row">
                <div class="col-xs-12 p-n">
                    <!--Banner Start-->
                    <div class="banner">
                        <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-0 thank-you">
                            <div class="banner-header">
                                <img src="http://test.fanager.com/assets/img/general/Fanager_Euro16_ThankYou.png" alt="" class="img-responsive">
                            </div>
                            <div class="banner-body" style="width:100%">
                                <ul class="list-inline winner-cup">
                                    <li>
                                        <hr>
                                    </li>
                                    <li>
                                        <img src="http://test.fanager.com/assets/img/general/Fanager_cup.png" class="img-responsive" alt="">
                                    </li>
                                    <li>
                                        <hr>
                                    </li>
                                </ul>
                                <!-- <h4 class="text-uppercase text-center"> kick off - 20:00</h4> -->
                            </div>
                            <div class="banner-footer entry-fee">
                                <h3 style="color: white; margin-top: 10px;font-size: 20px; line-height: 30px;">Fanager would like to thank all of our customers for their participation in the euro 2016 beta test. we've received lots of constructive feedback which will help us return.</h3>
                            </div>
                        </div>
                        <!--Banner End-->

                        <div class="col-xs-offset-1 col-xs-10 col-md-6 col-md-offset-0">

                            <!--Form Start-->
                            <div class="video-wrapper embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qRG006ad-Zc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        </div>
                    </div>
                    <!--Form End-->
                    <!-- <div class="col-xs-12">
                      <div class="separation-line">
                        <h3><a href="http://test.fanager.com/payments/deposit" target="_self">DEPOSIT £1 - GET £20 FREE</a>
                        </h3>
                        <h5>TERMS AND CONDITIONS APPLY</h5>
                      </div>
                    </div>
           -->
                    <div class="col-xs-12">
                        <!--Banner Start-->
                        <div class="banner">
                            <div class="banner-header">
                                <ul class="list-inline" style="margin-top: 15px">
                                    <li><hr></li>
                                    <li><h4><span>TOP CONTESTS</span></h4></li>
                                    <li><hr></li>
                                </ul>
                            </div>
                            <div class="banner-body">
                                <div class="col-xs-12 col-md-4">
                                    <div class="box">
                                        <img src="http://test.fanager.com/assets/img/general/fantasy5.jpg" class="img-responsive" alt="">
                                        <hr>
                                        <div class="box-text">
                                            <p>
                                                Choose your ultimate Euro 2016 5-a-side fantasy team and go up against other players for points and places on the leaderboard! Simply choose a GK, DEF, MID, FWD, and a FLEX that will gain you the most points to be in with a chance of winning money!
                                            </p>
                                            <h4><a routerLink="/how_to_play" routerLinkActive="active">HOW TO PLAY</a></h4>
                                        </div>
                                        <hr>
                                        <a routerLink="/contests" routerLinkActive="active" class="btn btn-custom btn-block">view contests</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="box">
                                        <img src="http://test.fanager.com/assets/img/general/starTurn.jpg" class="img-responsive" alt="">
                                        <hr>
                                        <div class="box-text">
                                            <p>
                                                For all you gut-feeling bettors out there. Got an inkling for Ibra, a feel for Fabregas, or do you just know Keane has got it in him? Pick a player who will score the most fantasy points over a set period to win!
                                            </p>
                                            <h4><a routerLink="/how_to_play" routerLinkActive="active">HOW TO PLAY</a></h4>
                                        </div>
                                        <hr>
                                        <a routerLink="/contests" routerLinkActive="active" class="btn btn-custom btn-block">view contests</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="box">
                                        <img src="http://test.fanager.com/assets/img/general/1v1.jpg" class="img-responsive" alt="">
                                        <hr>
                                        <div class="box-text">
                                            <p>
                                                Pit your wits against fellow users as you scale the leaderboard. England’s Harry Kane or Paul Pogba of France: who is going to have a bigger impact and score you more fantasy points &amp; more cash?
                                            </p>
                                            <h4><a routerLink="/how_to_play" routerLinkActive="active">HOW TO PLAY</a></h4>
                                        </div>
                                        <hr>
                                        <a class="btn btn-custom btn-block">Coming soon</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Banner End-->
                    </div>
                    <div class="col-xs-12">
                        <!--Banner Start-->
                        <div class="banner">
                            <div class="banner-header">
                                <ul class="list-inline">
                                    <li><hr></li>
                                    <li><h4><span>ABOUT FANAGER</span></h4></li>
                                    <li><hr></li>
                                </ul>
                            </div>
                            <div class="banner-body">
                                <p class="about-section">
                                    Fanager marries the best elements of pool betting with fantasy sports into one enthralling package that gives users greater control of their chances. Players can compete for cash and points across multiple sports as they pit their tactical wits against other users worldwide. Gripping games and captivating contests are available for bettors each and every day within the biggest cups, leagues, and tournaments worldwide. Pick your best betting slip without any of the usual fantasy budget restrictions and aim for glory in any one of our contests. The user who bags the most points, wins.
                                    <br><br>
                                    We’ve decided to create a clear scoring system, which allows our users to easily keep track of their overall score on any device, whilst watching the sporting action.
                                    <br><br>
                                    Watch your score update as you are credited for the criteria you match. Whether it be goals in football, scrums in rugby, or even sacks in American football, there’s a bet for everyone! Experience the highs and lows of the live leaderboard as you eagerly await your results. With our instant updates, a notification goes from that dreaded buzz on your phone that is your boss asking you to work overtime, and turns into a beacon for a free night out!
                                    <br><br>
                                    Fanager works closely with OPTA Sports to provide the most accurate live scoring and player data. OPTA Sports are the world’s leading supplier of sports statistics and our users will have access to their vast wealth of information, when picking their fantasy sports teams.
                                    <br><br>
                                    Fanager is owned and operated by Fantasy Sports Ltd, who are licensed and regulated by The Gambling Commission under UK licence number 000-035633-R-316743-001.
                                    <br><br>
                                    We are based in Livingston, Scotland, with our customer service centre based in Glasgow, Scotland. Fanager is strictly for users over the age of 18+.
                                </p>
                            </div>
                        </div>
                        <!--Banner End-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
