<div class="container infoPages">
    <div class="row">
        <div class="col-xs-12 col-md-12 panel panel-default">
            <div class="panel-heading">
                <ul class="list-unstyled">
                    <li class="title">
                        <h2>

                            FAQ
                        </h2>
                    </li>
                </ul>
                <div class="close">
                    <span routerLink="" routerLinkActive="active">X</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="main-content-wrapper">
                            <h2>What is Fanager?</h2>

                            <p>Fanager is a pool betting/fantasy football website that allows users to compete against each other to win points and cash prizes.</p>

                            <h2>Is playing on Fanager legal?</h2>

                            <p>Yes, you must be at least 18 years old to open an account, participate in contests, or win prizes offered by Fanager.&nbsp;It is your personal responsibility to ensure that at all times you comply with all laws in any jurisdiction that apply to the use of our service.</p>

                            <h2>What information is required to open a Fanager account?</h2>

                            <p>To open a betting account with Fanager we need your name, date of birth, address, email address, a telephone number, and payment details. The name you provide must match up to the payment details provided.</p>

                            <h2>Can I register more than one account?</h2>

                            <p>No, you can only register one account per person.</p>

                            <h2>What sports can I play at Fanager?</h2>

                            <p>Fanager launched with football in June 2016 in time for the European Championships in France (Euro 2016). We will be adding a number of other sports within the coming months.</p>

                            <h2>What contests do you offer?</h2>

                            <p>We offer three main contests: Fantasy Fives, Star Turn, and 1 v 1.</p>

                            <p>Fantasy Fives: Enter our daily contests by selecting five players to create your fantasy 5-a-side team. Choose a GK, DEF, MID, FWD, and a FLEX, put them into a formation, and watch live scores come in as your team rack up points and climb the leaderboard.</p>

                            <p>Star Turn: Enter our daily contests by selecting a player to do you a star turn and pick up the most points over a set period of time. Whether it’s one game, the group stages, or the whole tournament! You can track your progress on the live leaderboard.</p>

                            <p>1 v 1: Enter our daily contests by selecting a player to go head-to-head with another and compete with other users for cash and points! You can track your progress on the live leaderboard.</p>

                            <h2>What is a FLEX?</h2>

                            <p>A FLEX is Fanager’s way to give you more control over your Fantasy Fives line-up. On top of a GK, DEF, MID, and FWD, simply choose one further outfield player (FLEX) to complete your line-up into either a 1-2-1-1, 1-1-2-1, or 1-1-1-2 formation.</p>

                            <h2>How does the scoring system work?</h2>

                            <p>The scoring system is based on how the chosen athletes actually perform on the field of play. You are credited with a set number of points for the criteria an athlete matches over the course of a contest. The more points you accrue the higher chance you have of walking away with winnings. Take a look at the specifics of the Euro 2016 football scoring system <a href="https://www.fanager.com/rules/fantasy-5s">here</a>.</p>

                            <h2>How do I verify my account and how long does it take?</h2>

                            <p>In order to verify your account, you will need to complete our Know Your Customer (KYC) process. Once you provide us with documentation, it will take up to 24 hours to verify your account.</p>

                            <h2>How can I deposit or withdraw money?</h2>

                            <p>You can currently deposit online at www.fanager.com via Mastercard or Visa. We are currently working on providing other sources, including PayPal. The Company fully complies with UK anti money laundering legislation. You can only withdraw funds from your Fanager account back to the same card you originally used to deposit funds or to the current card that is registered. You can only have one card registered on your account.</p>

                            <h2>Can I add a card without depositing money?</h2>

                            <p>No, you have to deposit at least £1 when adding a card.</p>

                            <h2>Can I add more than one card to my account?</h2>

                            <p>No, you can only have one card registered per account.</p>

                            <h2>How can I monitor my progress/bets?</h2>

                            <p>You can monitor the progress of your bets with our constantly updating live scores and leaderboard, alongside stats from Opta.</p>

                            <h2>How do I use my free bets/bonus?</h2>

                            <p>When you create a Fanager account and deposit a minimum of £1 you will be credited with a £20 free bet as a sign up bonus. You have 30 days to spend this £20 bonus on Fanager.com. After 30 days any of the sign up bonus you haven’t used will be removed from your account. Free bet stakes are not returned as part of the settlement of winning free bets. &nbsp;Please refer to our <a href="https://www.fanager.com/terms_and_conditions">Terms Of Use</a>.</p>

                            <h2>How long before the bets are settled?</h2>

                            <p>We settle bets immediately after the final fixture has been completed. In some circumstances, we will be waiting for the final result as provided by our official data providers, Opta.</p>

                            <h2>How is my personal information protected?</h2>

                            <p>We ensure your personal information is secure from unauthorised access. We ask you to use a unique User ID and password to register with our Site and not to share this information with anyone. In addition, we use encrypted transmissions to limit access to the systems that store your personal information.</p>

                            <h2>I have forgotten my username/password</h2>

                            <p>Retrieve your username when logged out by following the steps&nbsp;<a href="https://www.fanager.com/username/forgot">here</a>.</p>

                            <p>Reset your password when logged out by following the steps <a href="https://www.fanager.com/password/reset">here</a>.</p>

                            <h2>How do I contact Fanager.com?</h2>

                            <p>You can email us on <a href="mailto:support@fanager.com">support@fanager.com</a> or message us via our Facebook or Twitter page.</p>

                            <h2>How do I cancel my account?</h2>

                            <p>To cancel your account email <a href="mailto:support@fanager.com">support@fanager.com</a>.</p>

                            <h2>What are Fanager’s responsible gambling options?</h2>

                            <p>All of our Customer Service staff receive awareness training on responsible gambling issues and are available to talk to you about any concerns you may have.</p>

                            <p>We provide customers with a range of options to help them manage their gambling activity, these include:</p>

                            <p>Information on Keeping Control</p>

                            <p>Reality Checks</p>

                            <p>Self-Assessment</p>

                            <p>Deposit Limits</p>

                            <p>Time-Out</p>

                            <p>Self-Exclusion</p>

                            <p>Parental Controls</p>

                            <p>If you wish to learn more or if you are concerned that gambling may have taken over your (or someone else’s) life please refer to our dedicated Responsible Gambling section via the link at the bottom of this page, or alternatively this can be accessed <a href="https://www.fanager.com/responsible_gaming">here</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>