<div class="col-xs-12">

    <team-players [open]="true"></team-players>

</div>

<div class="contest-details col-xs-12 no-margin-top"
     style="overflow: hidden;">

    <div class="filters">
        <div><filter-player></filter-player></div>
        <div></div>
    </div>
    <div class="components search-results">

    </div>
</div>