.no-margin-top {
  margin-top: 0px !important;
  height: 400px !important;
}

.filters {
  position: absolute;
  width: 20%;
  border: solid thin #42A948;
  left: 10px;
  height: 400px;
}

.filter-player {

}

.filter-fixture {

}

.search-results {
  position: absolute;
  width: 75%;
  border: solid thin #42A948;
  right: 10px;
  height: 400px;
}