<div class="panel-heading with-winnigs ng-scope">
    <ul class="list-unstyled flex flex-justify live-contest">
        <li class="title">
            <h2 class="ng-binding">{{mode}}<span> CONTEST</span> - Fantasy 5</h2>
        </li>
        <li class="description">
            <p style="padding-right: 10px;" *ngIf="typeId == 1" class="">
                <span>Create the ultimate fantasy 5-a-side team,</span><br>
                <span> no restrictions, lots of points!</span> </p>
            <p style="padding-right: 10px;" *ngIf="typeId == 2" class="ng-hide"> Pick a player to score the most points in a contest, winner takes all!</p>
        </li>
        <li class="winnings ng-hide" *ngIf="live">
            <div>Currently <br>Winning</div>
            <h2 class="ng-binding">£0.00</h2>
        </li>
        <li class="show-rule text-right" *ngIf="!edit" (click)="showRules()">
            <strong>Scoring Rules<i class="fa fa-info-circle fa-fw"></i></strong>
        </li>
    </ul>
</div>