<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="col-xs-12">
                        <form (ngSubmit)="onSubmit()" #userForm="ngForm">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Username</label>

                                <div class="col-md-6">
                                    <input id="username" required type="text" class="form-control" name="loggedInUser.username"
                                           [(ngModel)]="loggedInUser.username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Password</label>

                                <div class="col-md-6">
                                    <input id="password" required type="password" class="form-control" name="loggedInUser.password"
                                           [(ngModel)]="loggedInUser.password">
                                </div>
                            </div>

                            <div class="form-group" *ngIf="invalidUser">
                                <div class="col-md-6 col-md-offset-4 invalidUser">Please provide a valid user</div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">
                                        <i class="fa fa-btn fa-sign-in"></i>Login
                                    </button>

                                    <a class="alt btn btn-link" >Forgot Your Password?</a>
                                    <a class="alt btn btn-link" >Forgot Username?</a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>