<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">USER DETAILS</h3></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="POST" action="http://test.fanager.com/userDetails">
                <input type="hidden" name="_token" value="V2foyShGZe1DRTTD5PNL9jEgVjJGZA24HugKYI5C">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" value="Andy">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="Stephenson">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="username" placeholder="Username" value="FFM">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="dob" placeholder="Date of Birth (dd/mm/yyyy)" value="30/11/2017">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="andy@ffmiphone.com">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-success pull-right">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>