<div class="panel-body">
    <div class="row">
        <div class="main-column col-xs-12">
            <div class="main-content-wrapper">
                <div class="main-content-body">
                    <div class="table-responsive table-block">
                        <table class="fanager-table table" *ngIf="closedContests.length > 0">
                            <thead>
                            <tr>
                                <th class="text-left">Contest</th>
                                <th class="text-center">Game</th>
                                <th class="text-center">Points</th>
                                <th class="text-center">Winnings</th>
                                <th class="text-center">Place</th>
                                <th class="text-center">StartTime</th>
                                <th class="text-center">View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center ng-scope" *ngFor="let contest of closedContests">
                                <td class="text-left wrap-normal">{{contest.name}}</td>
                                <td class="text-center">{{contest.contestType}}</td>
                                <td class="text-center">TBD</td>
                                <td class="text-center">TBD</td>
                                <td class="text-center">TBD</td>
                                <td class="text-center">{{contest.startDateTime}}</td>
                                <td><button (click)="showContest(contest)" class="btn btn-success">&gt;</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>