<td class="text-right text-uppercase">{{fixture.teamNameHomeAbbreviation}}</td>
<td class="text-right"><span>{{fixture.teamScoreHome}}</span></td>
<td class="text-center">v</td>
<td class="text-left"><span>{{fixture.teamScoreAway}}</span></td>
<td class="text-left text-uppercase right-team">{{fixture.teamNameAwayAbbreviation}}</td>