

.leaderboard-wrapper {
    width: 100px;
    height: 100px;
}

.leaderboard {
    position: absolute;
    width: 450px;
    height: 400px;
    border: solid thin green;
}

.leaderboard-table {
    height: 100% !important;
    width: 100% !important;
}