<ff-component-wrapper custom-class="small-margin"
                      title="Leaderboard"
                      is-open="true">
    <div >
        <div class="col-xs-12 col-md-4 leaderboard-wrapper">
            <div class="table-header hidden-xs hidden-sm">
                <h4>Leaderboard</h4>
            </div>
            <div class="table-responsive">

                <table class="table table-striped">

                    <thead></thead>

                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.position}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.points}}</td>
                        </tr>
                    </tbody>

                    <tfoot></tfoot>

                </table>

            </div>
        </div>
    </div>

</ff-component-wrapper>
