<div class="leaderboard">
    <ngx-datatable
            class="material leaderboard-table"
            [attr.rows]="rows"
            [attr.columnMode]="'standard'"
            [attr.headerHeight]="50"
            [attr.footerHeight]="50"
            [attr.sortType]="'single'"
            [attr.rowHeight]="50"
            [attr.scrollbarV]="true"
            [attr.limit]="100"
            (page)="onPage($event)">
        <ngx-datatable-column name="Position" [attr.width]="100">
            <template let-row="row" let-value="value" ngx-datatable-cell-template>
                <i [attr.innerHTML]="row['id']"></i>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" [attr.width]="150"></ngx-datatable-column>
        <ngx-datatable-column class="sort-desc" name="Points" [attr.width]="100"></ngx-datatable-column>
    </ngx-datatable>
    <div class="buttons">
        <button (click)="onDummySelected()">Use Dummy 10K Teams</button>
        <button (click)="onLiveSelected()">Use Live Teams</button>
    </div>
</div>