<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">TRANSACTION HISTORY</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="fanager-table-2" width="100%">
                            <tbody>

                            <tr class="inverted-row">
                                <td>2016-07-08</td>
                                <td>12:29</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-08</td>
                                <td>12:28</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-08</td>
                                <td>12:28</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-08</td>
                                <td>12:28</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-08</td>
                                <td>12:26</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-08</td>
                                <td>12:26</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-08</td>
                                <td>12:25</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-08</td>
                                <td>12:25</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-08</td>
                                <td>12:25</td>
                                <td>Winnings<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>13:08</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:47</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>12:45</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:38</td>
                                <td>Entry<br>
                                    Euro2016 Semi Finals
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>12:38</td>
                                <td>Entry<br>
                                    Euro2016 Semi Finals
                                </td>
                                <td>£2.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:37</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>12:37</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>12:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>12:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>12:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>11:27</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>11:27</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>11:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>11:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>11:20</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>11:15</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>11:15</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-06</td>
                                <td>11:15</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-07-06</td>
                                <td>11:15</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr class="inverted-row">
                                <td>2016-07-04</td>
                                <td>14:34</td>
                                <td>Entry<br>
                                    £10K FREEROLL - max 20 entries per user
                                </td>
                                <td>£0.00</td>
                            </tr>

                            <tr>
                                <td>2016-06-28</td>
                                <td>18:20</td>
                                <td>Entry<br>
                                    £1000 Freeroll - single entry
                                </td>
                                <td>£0.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>