<div class="entries-panel">

    <div class="entries-panel-title">PLAYERS</div>
    <div class="entries-panel-date">Start Date: {{contest.startDateLong}}</div>

    <div class="entries-panel-table" *ngIf="teams != undefined">

        <div class="main-column col-xs-12 col-md-9">
            <div class="main-content-wrapper">
                <section>
                    <div class="main-content-header" style="height: 50px;">
                    </div>
                    <div class="main-content-body" style="height: 750px;">
                        <div class="table-responsive fixed-height table-block">
                            <table class="table fanager-table fixed-header">
                                <thead>
                                <tr>
                                    <th class="text-left user-teamname-col"><div>User Team Name</div></th>
                                    <th class="text-center"><div>User</div></th>
                                    <th class="text-center"><div>Points</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let team of teams">
                                    <td class="text-left user-teamname-col">{{team.name}}</td>
                                    <td class="text-center">{{User}}</td>
                                    <td class="text-center">{{team.points}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="main-content-footer">

                    </div>
                </section>
            </div>
        </div>

    </div>

    <div class="panel-button">
        <button>Create a Lineup</button>
    </div>
</div>