<div class="col-xs-12 col-md-8">
    <div class="panelAccountSettingsMain">
        <div class="panel-heading"><h3 class="pull-left">TIME ON SITE</h3></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="POST" action="http://test.fanager.com/timeOnSite">

                <div class="form-group">
                    <div class="col-md-10" style="padding-left:0px;">
                        <p>Use the check box below to enable or disable a time warning. The warning will show if you use the site for longer than a period of 1 hour.</p>
                    </div>
                </div>

                <input type="hidden" name="_token" value="vPDogEZEyaMPN4DDrauuHeM8h9msJMci5PFwf4zN">

                <div class="form-group">
                    <div class="col-xs-1">
                        <input type="checkbox" style="height:10px;" class="form-control pull-left" name="timeOnSiteWarn">
                    </div>
                    <div class="col-xs-9" style="margin-top:2px;">
                        Turn on/off warning
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-success pull-right">
                            Update
                        </button>
                    </div>
                </div>
                <!-- <div class="form-group">
                  <div class="col-md-10" style="padding-left:0px;">
                    <p>If you wish to take a break from playing on Fanager.com, you may do so by setting a maximum time you can spend on our site before either a 24-hour, 7 day, or 30 day time-out period will begin.</p><br>
                    <p>Use the check box below to enable or disable a time warning. The warning will show if you use the site for longer than a period of 1 hour.</p>
                  </div>
                </div>-->

            </form>
        </div>        					        		</div>
</div>