<div class="centered_div">

    <div class="contest-title">{{contest.name}}</div>

    <div class="buttons_span">
        <button *ngFor="let button of buttons" (click)="panelSelected($event)">{{button}}</button>
    </div>

    <prize-panel *ngIf="selection == 1" [contest]="contest"></prize-panel>
    <fixtures-panel *ngIf="selection == 2" [contest]="contest"></fixtures-panel>
    <entries-panel *ngIf="selection == 3" [contest]="contest"></entries-panel>

    <div class="close" (click)="close()">
        <span>X</span>
    </div>
</div>