<div ng-app="fanager" class="ng-scope">
    <!-- uiView: -->
    <div ui-view="" class="ng-scope">
        <div class="container ng-scope" id="main-controller">

            <available-contest-details-panel [contest]="selectedContest" *ngIf="showDetails" (onClose)="closeDetails()"></available-contest-details-panel>

            <div class="row">

                <div class="col-xs-12 col-md-9 panel panel-default">
                    <div>
                        <div>
                            <div class="panel-heading" style="margin-bottom: 10px;">

                                <ul class="list-unstyled flex flex-justify buttons">
                                    <li class="title">
                                        <h2>AVAILABLE<span> CONTESTS</span></h2>
                                    </li>
                                </ul>
                            </div>

                                <div class="panel-body full-sidebar">
                                    <div class="row sidebar-menu">
                                        <div class="col-xs-12  visible-xs visible-sm">
                                <uib-accordion><div role="tablist" class="panel-group" ng-transclude="">
                                    <div class="panel ng-scope ng-isolate-scope panel-default panel-open" ng-class="panelClass || 'panel-default'" is-open="true">
                                        <div role="tab" id="accordiongroup-24-4687-tab" aria-selected="true" class="panel-heading" ng-keypress="toggleOpen($event)">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" href="" aria-expanded="true" aria-controls="accordiongroup-24-4687-panel" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span uib-accordion-header="" ng-class="{'text-muted': isDisabled}" class="ng-binding">
                    <h4 class="ng-scope">
                        Dates
                        <i class="fa fa-sort-desc pull-right" aria-hidden="true"></i>
                    </h4>
                  </span></a>
                                            </h4>
                                        </div>
                                        <div id="accordiongroup-24-4687-panel" aria-labelledby="accordiongroup-24-4687-tab" aria-hidden="false" role="tabpanel" class="panel-collapse collapse in" uib-collapse="!isOpen" aria-expanded="true" style="height: auto;">
                                            <div class="panel-body" ng-transclude="">
                                                <uib-accordion-heading class="ng-scope"></uib-accordion-heading>
                                                <div class="row ng-scope">
                                                    <div class="col-xs-12 text-center">
                                                        <div class="buttons-carousel-wrapper">
                                                            <div class="carousel-container">
                                                                <div class="carousel-body">
                                                                    <!-- <div class="element-container"
                                                                      ng-repeat="(key, value) in vm.days">
                                                                      <button class="btn btn-filter-mobile"
                                                                        type="button"
                                                                        ng-model="vm.period"
                                                                        uib-btn-radio="value"
                                                                        ng-change="vm.loadContests()">
                                                                        {{value | formatContestDate : true}}
                                                                      </button>
                                                                    </div> -->
                                                                    <div class="element-container">
                                                                        <button class="btn btn-filter-mobile ng-pristine ng-untouched ng-valid ng-not-empty active" type="button" ng-model="vm.period" uib-btn-radio="'Any'" ng-change="vm.loadContests()">
                                                                            Any
                                                                        </button>
                                                                    </div>
                                                                    <!-- ngRepeat: (key, value) in vm.contests.dates -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></uib-accordion>
                            </div>
                                            <div class="col-xs-12 col-sm-offset-2 col-sm-8 visible-xs visible-sm">
                                                <p>Entry Fee:</p>
                                                <ul class="list-inline select range-filter-mobile" ng-init="vm.type = 'all'">
                                    <li class="col-xs-5">
                                        <div class="form-group">
                                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="sel1" ng-change="vm.calculateRange('from')" ng-model="vm.rangeFrom">
                                                <option disabled="" selected="" value="">From</option>
                                                <option value="free">free</option>
                                                <!-- ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="1">1</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="2">2</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="5">5</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="10">10</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="20">20</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="50">50</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="100">100</option><!-- end ngRepeat: value in vm.rangeValues -->
                                            </select>
                                        </div>
                                    </li>
                                    <li class="col-xs-5">
                                        <div class="form-group">
                                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="sel2" ng-change="vm.calculateRange('to')" ng-model="vm.rangeTo">
                                                <option disabled="" selected="" value="">To</option>
                                                <option value="free">free</option>
                                                <!-- ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="1">1</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="2">2</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="5">5</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="10">10</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="20">20</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="50">50</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="100">100</option><!-- end ngRepeat: value in vm.rangeValues -->
                                            </select>
                                        </div>
                                    </li>
                                </ul>
                                            </div>

                                            <div class="sidebar col-xs-3 hidden-xs hidden-sm">
                                                <section>
                                                    <h4>
                                                        Competitions
                                                    </h4>
                                                    <ul class="list-unstyled">
                                                        <li ng-model="vm.competition" uib-btn-radio="{name : 'All'}" ng-change="vm.loadContests()" class="ng-pristine ng-untouched ng-valid ng-not-empty active">All</li>
                                                        <!-- ngRepeat: competition in vm.contests.competitions --><li ng-repeat="competition in vm.contests.competitions" ng-model="vm.competition" uib-btn-radio="competition" ng-change="vm.loadContests()" class="ng-pristine ng-untouched ng-valid ng-binding ng-scope ng-not-empty">European Championship Finals</li><!-- end ngRepeat: competition in vm.contests.competitions -->
                                                    </ul>
                                                </section>
                                                <section>
                                                    <h4>
                                                        Dates
                                                    </h4>
                                                    <ul class="list-unstyled">
                                                        <li ng-model="vm.period" uib-btn-radio="'Any'" ng-change="vm.loadContests()" class="ng-pristine ng-untouched ng-valid ng-not-empty active">Any</li>
                                                        <!-- <li ng-repeat="(key, value) in vm.days" ng-model="vm.period" uib-btn-radio="value" ng-change="vm.loadContests()">{{value | formatContestDate}}</li> -->
                                                        <!-- ngRepeat: (key, value) in vm.contests.dates -->
                                                    </ul>
                                                </section>
                                                <section>
                                                    <h4>
                                                        Entry fee
                                                    </h4>
                                                    <ul class="list-unstyled select" ng-init="vm.type = 'all'">
                                                        <li>
                                                            <div class="form-group col-xs-12 p-n">
                                                                <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="sel1" ng-change="vm.calculateRange('from')" ng-model="vm.rangeFrom">
                                                                    <option disabled="" selected="" value="">From</option>
                                                                    <option value="free">free</option>
                                                                    <!-- ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="1">1</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="2">2</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="5">5</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="10">10</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="20">20</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="50">50</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="100">100</option><!-- end ngRepeat: value in vm.rangeValues -->
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group col-xs-12 p-n">
                                                                <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="sel2" ng-change="vm.calculateRange('to')" ng-model="vm.rangeTo">
                                                                    <option disabled="" selected="" value="">To</option>
                                                                    <option value="free">free</option>
                                                                    <!-- ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="1">1</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="2">2</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="5">5</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="10">10</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="20">20</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="50">50</option><!-- end ngRepeat: value in vm.rangeValues --><option ng-repeat="value in vm.rangeValues" class="ng-binding ng-scope" value="100">100</option><!-- end ngRepeat: value in vm.rangeValues -->
                                                                </select>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <input type="checkbox" name="buyins" ng-model="vm.buyins" class="ng-pristine ng-untouched ng-valid ng-not-empty"> include variable buy-ins<br>
                                                </section>
                                                <section>
                                                    <h4>
                                                        Game Type
                                                    </h4>
                                                    <ul class="list-unstyled" ng-init="vm.type = ''">
                                                        <li ng-model="vm.type" uib-btn-radio="''" class="ng-pristine ng-untouched ng-valid ng-empty active">All</li>
                                                        <li ng-model="vm.type" uib-btn-radio="'1'" class="ng-pristine ng-untouched ng-valid ng-empty">Fantasy 5s</li>
                                                        <!--  <li ng-model="vm.type" uib-btn-radio="'3'">1v1</li> -->
                                                        <li ng-model="vm.type" uib-btn-radio="'2'" class="ng-pristine ng-untouched ng-valid ng-empty">StarTurn</li>
                                                    </ul>
                                                </section>
                                            </div>

                                            <div class="main-column col-xs-12 col-md-9">
                                                <div class="main-content-wrapper">
                                                    <section>
                                                        <div class="main-content-header" style="height: 50px;">
                                                        </div>
                                                        <div class="main-content-body" style="height: 750px;">
                                                            <div class="table-responsive fixed-height table-block">
                                                                <table class="table fanager-table fixed-header">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-left"><div>Contest Name</div></th>
                                                                            <th class="text-center"><div>Game Type</div></th>
                                                                            <th class="text-center"><div>Entry Fee</div></th>
                                                                            <th class="text-center"><div>Entries</div></th>
                                                                            <th class="text-center"><div>Prizes</div></th>
                                                                            <th class="text-center"><div>StartDate</div></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let contest of contests">
                                                                            <td class="text-left">
                                                                                <a class="contest_link" (click)="showContestDetails(contest)">{{contest.name}}</a>
                                                                            </td>
                                                                            <td class="text-center">{{contest.contestType}}</td>
                                                                            <td class="text-center">{{contest.entryFee}}</td>
                                                                            <td class="text-center">{{contest.entries.length}}</td>
                                                                            <td class="text-center">{{contest.prizes}}</td>
                                                                            <td class="text-center">{{contest.startDate}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="main-content-footer">

                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                <!-- Betting Slip -->
                <betting-slip></betting-slip>

            </div>

        </div>
    </div>
</div>