.centered_div {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 400px;
  top: 30%;
  background-color: white;
  z-index: 100;
  border: green solid 2px;
}

.contest-title {
  position: absolute;
  left: 20px !important;
  top: 20px !important;
}

.close {
  position: absolute;
  right: 10px !important;
  top: 10px !important;
}

.buttons_span {
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  left: 50%;
  top: 20%;
}

.contest_button {
  text-align: center;
  //color: white !important;
  width: 80px;
  height: 25px;
  padding: 10px;
}