<div>
    <div class="col-xs-12 p-n">
        <div class="five-side-team">

            <div class="player-box" *ngFor="let player of playersInUserTeam">
                <div class="headshoot" (click)="filterRemove(player)">
                    <h3 class="position-mobile top" >{{player.position}}</h3>
                    <img [src]="formatLogoSource(player)"
                         class="img-responsive" alt="Player Headshot" onerror="this.src = '../assets/img/general/silhouette.png';">
                    <div class="player-position">{{player.position}}</div>
                </div>
                <div class="details">
                    <p>{{player.lastName}}
                        <br>
                        <span class="pull-right" *ngIf="getTeams.length == 2">
                            <span class="text-uppercase"></span>
                            vs
                            <span class="text-uppercase"></span>
                        </span>
                    </p>
                    <h3 *ngIf="!open">{{getPointsForPlayer(player)}}pts</h3>
                </div>
            </div>
        </div>

        <div class="total-team-points ng-scope" *ngIf="!open">
            <ul class="list-inline">
                <li><h4 class="text-left visible-xs visible-sm">SCORE</h4></li>
                <li><h4 class="text-center hidden-xs hidden-sm">SCORE</h4></li>
                <li><h3 class="text-center ng-binding">{{teamPoints}}PTS</h3></li>
            </ul>
        </div>

        <div *ngIf="open" class="widget-footer" [ngClass]="(panel ? 'widget-footer' : 'col-xs-12 text-right')" style="">
            <button class="btn btn-success btn-block" disabled="submit_disabled" [ngClass]="{'btn-block' : panel}" (click)="submitUserTeam()" style="">Submit</button>
        </div>
    </div>
</div>
