<ff-component-wrapper custom-class="small-margin" title="Live Score" is-open="false" class="ng-isolate-scope"><!-- ngIf: vmW.mobile === true -->
    <!-- ngIf: vmW.mobile === false --><div class="ng-scope" ng-if="vmW.mobile === false">
        <ng-transclude>
            <ff-match-overlay match="vm.match" show="vm.showMatch" match-stats="vm.leaderboard.matchInfo[vm.match.id]" class="ng-scope ng-isolate-scope">
                <div class="overlay" ng-class="{'active' : vmM.show}">
                    <div class="overlay-content">
                        <div class="player-details">
                            <div class="header">
                                <div class="close">
                                    <span ng-click="vmM.show = !vmM.show">X</span>
                                </div>
                            </div>
                            <div class="table-responisve">
                                <table class="table match-details-table">
                                    <thead>
                                    <tr>
                                        <th colspan="2" class="ng-binding"></th>
                                        <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                        <th class="text-center">V</th>
                                        <th><span id="team_goals_" add-class="" class="ng-binding"></span></th>
                                        <th colspan="2" class="ng-binding"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- ngRepeat: event in vmM.matchStats | orderBy : 'time' -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ff-match-overlay>

            <div class="col-xs-12 col-sm-8 col-md-5 col-md-offset-0 col-sm-offset-2 live-score ng-scope">
                <h4 class="text-center hidden-xs hidden-sm">DUNCAN's LIVE SCORES</h4>
                <div class="table-responsive" ng-switch="" on="vm.leaderboard.matches.length">
                    <table class="table fanager-table table-transparent">
                        <tbody>

                            <tr *ngFor="let fixture of liveFixtures">
                                <live-fixture class="live-fixture" [fixture]="fixture"></live-fixture>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </ng-transclude>
    </div><!-- end ngIf: vmW.mobile === false -->
</ff-component-wrapper>